/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_chemistry_2022_paper_q_55 {max-width:280px; max-height:361px; }
.waec_chemistry_2022_paper_q_55::after {content: '\00a0';display: inline-block; width:280px; height:361px; background-position: 50% 50%; background-size: 100.71428571428571% 100.55401662049861%; background-image: url(waecchem2022_0.png);padding: 0; }
div.waec_chemistry_2022_paper_q_55::after {max-width:280px; width:100%;height:0;padding: 0 0 128.92857142857142% 0;}


/* $TexturePacker:SmartUpdate:0d1b17e694dc9d0956ac58af9fe24e26:f3660138de24881a1f8d88dd650a7bdd:45f3a699eaddbdd69be9386e7215c431$ */
