/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_mathematics_2016_paper_q_22 {max-width:400px; max-height:255px; }
.waec_mathematics_2016_paper_q_22::after {content: '\00a0';display: inline-block; width:400px; height:255px; background-position: 0.16556291390728478% 21.64119066773934%; background-size: 251% 587.4509803921569%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_22::after {max-width:400px; width:100%;height:0;padding: 0 0 63.75% 0;}
.waec_mathematics_2016_paper_q_23 {max-width:300px; max-height:206px; }
.waec_mathematics_2016_paper_q_23::after {content: '\00a0';display: inline-block; width:300px; height:206px; background-position: 0.14204545454545456% 97.21362229102168%; background-size: 334.6666666666667% 727.1844660194175%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_23::after {max-width:300px; width:100%;height:0;padding: 0 0 68.66666666666667% 0;}
.waec_mathematics_2016_paper_q_24 {max-width:300px; max-height:238px; }
.waec_mathematics_2016_paper_q_24::after {content: '\00a0';display: inline-block; width:300px; height:238px; background-position: 0.14204545454545456% 80.71428571428571%; background-size: 334.6666666666667% 629.4117647058823%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_24::after {max-width:300px; width:100%;height:0;padding: 0 0 79.33333333333333% 0;}
.waec_mathematics_2016_paper_q_26 {max-width:300px; max-height:200px; }
.waec_mathematics_2016_paper_q_26::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 42.89772727272727% 43.52850539291217%; background-size: 334.6666666666667% 749%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_26::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.waec_mathematics_2016_paper_q_27 {max-width:300px; max-height:135px; }
.waec_mathematics_2016_paper_q_27::after {content: '\00a0';display: inline-block; width:300px; height:135px; background-position: 85.6534090909091% 90.24211298606016%; background-size: 334.6666666666667% 1109.6296296296296%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_27::after {max-width:300px; width:100%;height:0;padding: 0 0 45% 0;}
.waec_mathematics_2016_paper_q_28 {max-width:300px; max-height:131px; }
.waec_mathematics_2016_paper_q_28::after {content: '\00a0';display: inline-block; width:300px; height:131px; background-position: 85.6534090909091% 99.92684711046087%; background-size: 334.6666666666667% 1143.5114503816794%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_28::after {max-width:300px; width:100%;height:0;padding: 0 0 43.666666666666664% 0;}
.waec_mathematics_2016_paper_q_29 {max-width:300px; max-height:246px; }
.waec_mathematics_2016_paper_q_29::after {content: '\00a0';display: inline-block; width:300px; height:246px; background-position: 0.14204545454545456% 41.932907348242814%; background-size: 334.6666666666667% 608.9430894308944%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_29::after {max-width:300px; width:100%;height:0;padding: 0 0 82% 0;}
.waec_mathematics_2016_paper_q_35 {max-width:300px; max-height:159px; }
.waec_mathematics_2016_paper_q_35::after {content: '\00a0';display: inline-block; width:300px; height:159px; background-position: 42.89772727272727% 97.68483943241225%; background-size: 334.6666666666667% 942.1383647798742%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_35::after {max-width:300px; width:100%;height:0;padding: 0 0 53% 0;}
.waec_mathematics_2016_paper_q_37 {max-width:300px; max-height:138px; }
.waec_mathematics_2016_paper_q_37::after {content: '\00a0';display: inline-block; width:300px; height:138px; background-position: 85.6534090909091% 80.22058823529412%; background-size: 334.6666666666667% 1085.5072463768115%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_37::after {max-width:300px; width:100%;height:0;padding: 0 0 46% 0;}
.waec_mathematics_2016_paper_q_40 {max-width:300px; max-height:270px; }
.waec_mathematics_2016_paper_q_40::after {content: '\00a0';display: inline-block; width:300px; height:270px; background-position: 99.85795454545455% 22.31270358306189%; background-size: 334.6666666666667% 554.8148148148148%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_40::after {max-width:300px; width:100%;height:0;padding: 0 0 90% 0;}
.waec_mathematics_2016_paper_q_44 {max-width:300px; max-height:270px; }
.waec_mathematics_2016_paper_q_44::after {content: '\00a0';display: inline-block; width:300px; height:270px; background-position: 57.10227272727273% 23.941368078175895%; background-size: 334.6666666666667% 554.8148148148148%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 90% 0;}
.waec_mathematics_2016_paper_q_47 {max-width:300px; max-height:249px; }
.waec_mathematics_2016_paper_q_47::after {content: '\00a0';display: inline-block; width:300px; height:249px; background-position: 99.85795454545455% 43.63490792634107%; background-size: 334.6666666666667% 601.6064257028113%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_47::after {max-width:300px; width:100%;height:0;padding: 0 0 83% 0;}
.waec_mathematics_2016_paper_q_49 {max-width:300px; max-height:151px; }
.waec_mathematics_2016_paper_q_49::after {content: '\00a0';display: inline-block; width:300px; height:151px; background-position: 85.6534090909091% 59.02004454342985%; background-size: 334.6666666666667% 992.0529801324503%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_q_49::after {max-width:300px; width:100%;height:0;padding: 0 0 50.333333333333336% 0;}
.waec_mathematics_2016_paper_sol_22 {max-width:400px; max-height:267px; }
.waec_mathematics_2016_paper_sol_22::after {content: '\00a0';display: inline-block; width:400px; height:267px; background-position: 0.16556291390728478% 0.08123476848090982%; background-size: 251% 561.0486891385768%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_22::after {max-width:400px; width:100%;height:0;padding: 0 0 66.75% 0;}
.waec_mathematics_2016_paper_sol_24 {max-width:300px; max-height:244px; }
.waec_mathematics_2016_paper_sol_24::after {content: '\00a0';display: inline-block; width:300px; height:244px; background-position: 0.14204545454545456% 61.56299840510367%; background-size: 334.6666666666667% 613.9344262295082%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_24::after {max-width:300px; width:100%;height:0;padding: 0 0 81.33333333333333% 0;}
.waec_mathematics_2016_paper_sol_25 {max-width:300px; max-height:143px; }
.waec_mathematics_2016_paper_sol_25::after {content: '\00a0';display: inline-block; width:300px; height:143px; background-position: 85.6534090909091% 69.88929889298893%; background-size: 334.6666666666667% 1047.5524475524476%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_25::after {max-width:300px; width:100%;height:0;padding: 0 0 47.666666666666664% 0;}
.waec_mathematics_2016_paper_sol_26 {max-width:300px; max-height:200px; }
.waec_mathematics_2016_paper_sol_26::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 42.89772727272727% 43.52850539291217%; background-size: 334.6666666666667% 749%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_26::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.waec_mathematics_2016_paper_sol_45 {max-width:300px; max-height:292px; }
.waec_mathematics_2016_paper_sol_45::after {content: '\00a0';display: inline-block; width:300px; height:292px; background-position: 57.10227272727273% 0.08291873963515754%; background-size: 334.6666666666667% 513.013698630137%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_45::after {max-width:300px; width:100%;height:0;padding: 0 0 97.33333333333333% 0;}
.waec_mathematics_2016_paper_sol_47 {max-width:300px; max-height:272px; }
.waec_mathematics_2016_paper_sol_47::after {content: '\00a0';display: inline-block; width:300px; height:272px; background-position: 99.85795454545455% 0.08156606851549755%; background-size: 334.6666666666667% 550.7352941176471%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_47::after {max-width:300px; width:100%;height:0;padding: 0 0 90.66666666666667% 0;}
.waec_mathematics_2016_paper_sol_48 {max-width:300px; max-height:188px; }
.waec_mathematics_2016_paper_sol_48::after {content: '\00a0';display: inline-block; width:300px; height:188px; background-position: 42.89772727272727% 73.05343511450381%; background-size: 334.6666666666667% 796.8085106382979%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_48::after {max-width:300px; width:100%;height:0;padding: 0 0 62.666666666666664% 0;}
.waec_mathematics_2016_paper_sol_49 {max-width:300px; max-height:161px; }
.waec_mathematics_2016_paper_sol_49::after {content: '\00a0';display: inline-block; width:300px; height:161px; background-position: 42.89772727272727% 85.71428571428571%; background-size: 334.6666666666667% 930.4347826086956%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_49::after {max-width:300px; width:100%;height:0;padding: 0 0 53.666666666666664% 0;}
.waec_mathematics_2016_paper_sol_5 {max-width:300px; max-height:190px; }
.waec_mathematics_2016_paper_sol_5::after {content: '\00a0';display: inline-block; width:300px; height:190px; background-position: 42.89772727272727% 58.56269113149847%; background-size: 334.6666666666667% 788.421052631579%; background-image: url(waecmath2016_0.png);padding: 0; }
div.waec_mathematics_2016_paper_sol_5::after {max-width:300px; width:100%;height:0;padding: 0 0 63.333333333333336% 0;}

@keyframes waec_mathematics_2016_paper_q-frames {
    0% { background-position: 0.16556291390728478% 21.64119066773934%;  }
    7.6923076923076925% { background-position: 0.14204545454545456% 97.21362229102168%;  }
    15.384615384615385% { background-position: 0.14204545454545456% 80.71428571428571%;  }
    23.076923076923077% { background-position: 42.89772727272727% 43.52850539291217%;  }
    30.76923076923077% { background-position: 85.6534090909091% 90.24211298606016%;  }
    38.46153846153847% { background-position: 85.6534090909091% 99.92684711046087%;  }
    46.15384615384615% { background-position: 0.14204545454545456% 41.932907348242814%;  }
    53.84615384615385% { background-position: 42.89772727272727% 97.68483943241225%;  }
    61.53846153846154% { background-position: 85.6534090909091% 80.22058823529412%;  }
    69.23076923076923% { background-position: 99.85795454545455% 22.31270358306189%;  }
    76.92307692307693% { background-position: 57.10227272727273% 23.941368078175895%;  }
    84.61538461538461% { background-position: 99.85795454545455% 43.63490792634107%;  }
    92.3076923076923% { background-position: 85.6534090909091% 59.02004454342985%;  }
}

.waec_mathematics_2016_paper_q-animation {
    max-width: 400px;
    max-height: 255px;
}
.waec_mathematics_2016_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 255px;
    padding: 0;
    background-image: url(waecmath2016_0.png);
    background-size: 251% 587.4509803921569%; 
    animation-name: waec_mathematics_2016_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_mathematics_2016_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 63.75% 0;
}

@keyframes waec_mathematics_2016_paper_sol-frames {
    0% { background-position: 42.89772727272727% 58.56269113149847%;  }
    11.11111111111111% { background-position: 0.16556291390728478% 0.08123476848090982%;  }
    22.22222222222222% { background-position: 0.14204545454545456% 61.56299840510367%;  }
    33.33333333333333% { background-position: 85.6534090909091% 69.88929889298893%;  }
    44.44444444444444% { background-position: 42.89772727272727% 43.52850539291217%;  }
    55.55555555555556% { background-position: 57.10227272727273% 0.08291873963515754%;  }
    66.66666666666666% { background-position: 99.85795454545455% 0.08156606851549755%;  }
    77.77777777777779% { background-position: 42.89772727272727% 73.05343511450381%;  }
    88.88888888888889% { background-position: 42.89772727272727% 85.71428571428571%;  }
}

.waec_mathematics_2016_paper_sol-animation {
    max-width: 300px;
    max-height: 190px;
}
.waec_mathematics_2016_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 190px;
    padding: 0;
    background-image: url(waecmath2016_0.png);
    background-size: 334.6666666666667% 788.421052631579%; 
    animation-name: waec_mathematics_2016_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_mathematics_2016_paper_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 63.333333333333336% 0;
}

/* $TexturePacker:SmartUpdate:658520072d6cfe59b886a59a836fa588:359eb818b98781ccc8b9ec834a68a259:c34ddd46fabd134752e5681e690245ca$ */
