/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_mathematics_2015_paper_q_15 {max-width:320px; max-height:200px; }
.waec_mathematics_2015_paper_q_15::after {content: '\00a0';display: inline-block; width:320px; height:200px; background-position: 88.15789473684211% 56.43478260869565%; background-size: 313.75% 675%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_15::after {max-width:320px; width:100%;height:0;padding: 0 0 62.5% 0;}
.waec_mathematics_2015_paper_q_16 {max-width:300px; max-height:170px; }
.waec_mathematics_2015_paper_q_16::after {content: '\00a0';display: inline-block; width:300px; height:170px; background-position: 85.6534090909091% 87.45762711864407%; background-size: 334.6666666666667% 794.1176470588235%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_16::after {max-width:300px; width:100%;height:0;padding: 0 0 56.666666666666664% 0;}
.waec_mathematics_2015_paper_q_17 {max-width:300px; max-height:181px; }
.waec_mathematics_2015_paper_q_17::after {content: '\00a0';display: inline-block; width:300px; height:181px; background-position: 85.6534090909091% 72.71171941830625%; background-size: 334.6666666666667% 745.8563535911602%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_17::after {max-width:300px; width:100%;height:0;padding: 0 0 60.333333333333336% 0;}
.waec_mathematics_2015_paper_q_18 {max-width:300px; max-height:193px; }
.waec_mathematics_2015_paper_q_18::after {content: '\00a0';display: inline-block; width:300px; height:193px; background-position: 0.14204545454545456% 80.20743301642177%; background-size: 334.6666666666667% 699.4818652849741%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_18::after {max-width:300px; width:100%;height:0;padding: 0 0 64.33333333333333% 0;}
.waec_mathematics_2015_paper_q_19 {max-width:300px; max-height:193px; }
.waec_mathematics_2015_paper_q_19::after {content: '\00a0';display: inline-block; width:300px; height:193px; background-position: 0.14204545454545456% 80.20743301642177%; background-size: 334.6666666666667% 699.4818652849741%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_19::after {max-width:300px; width:100%;height:0;padding: 0 0 64.33333333333333% 0;}
.waec_mathematics_2015_paper_q_27 {max-width:300px; max-height:201px; }
.waec_mathematics_2015_paper_q_27::after {content: '\00a0';display: inline-block; width:300px; height:201px; background-position: 42.89772727272727% 63.62053959965187%; background-size: 334.6666666666667% 671.6417910447761%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_27::after {max-width:300px; width:100%;height:0;padding: 0 0 67% 0;}
.waec_mathematics_2015_paper_q_30 {max-width:300px; max-height:146px; }
.waec_mathematics_2015_paper_q_30::after {content: '\00a0';display: inline-block; width:300px; height:146px; background-position: 85.6534090909091% 99.91694352159469%; background-size: 334.6666666666667% 924.6575342465753%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_30::after {max-width:300px; width:100%;height:0;padding: 0 0 48.666666666666664% 0;}
.waec_mathematics_2015_paper_q_38 {max-width:300px; max-height:239px; }
.waec_mathematics_2015_paper_q_38::after {content: '\00a0';display: inline-block; width:300px; height:239px; background-position: 42.89772727272727% 25.112511251125113%; background-size: 334.6666666666667% 564.8535564853556%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_38::after {max-width:300px; width:100%;height:0;padding: 0 0 79.66666666666667% 0;}
.waec_mathematics_2015_paper_q_41 {max-width:300px; max-height:214px; }
.waec_mathematics_2015_paper_q_41::after {content: '\00a0';display: inline-block; width:300px; height:214px; background-position: 0.14204545454545456% 44.63028169014085%; background-size: 334.6666666666667% 630.8411214953271%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_41::after {max-width:300px; width:100%;height:0;padding: 0 0 71.33333333333333% 0;}
.waec_mathematics_2015_paper_q_45 {max-width:300px; max-height:205px; }
.waec_mathematics_2015_paper_q_45::after {content: '\00a0';display: inline-block; width:300px; height:205px; background-position: 0.14204545454545456% 63.056768558951966%; background-size: 334.6666666666667% 658.5365853658536%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 68.33333333333333% 0;}
.waec_mathematics_2015_paper_sol_15 {max-width:400px; max-height:192px; }
.waec_mathematics_2015_paper_sol_15::after {content: '\00a0';display: inline-block; width:400px; height:192px; background-position: 99.83443708609272% 0.08635578583765112%; background-size: 251% 703.125%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_15::after {max-width:400px; width:100%;height:0;padding: 0 0 48% 0;}
.waec_mathematics_2015_paper_sol_2 {max-width:313px; max-height:206px; }
.waec_mathematics_2015_paper_sol_2::after {content: '\00a0';display: inline-block; width:313px; height:206px; background-position: 87.26483357452966% 38.63636363636363%; background-size: 320.7667731629393% 655.3398058252427%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_2::after {max-width:313px; width:100%;height:0;padding: 0 0 65.814696485623% 0;}
.waec_mathematics_2015_paper_sol_21 {max-width:300px; max-height:289px; }
.waec_mathematics_2015_paper_sol_21::after {content: '\00a0';display: inline-block; width:300px; height:289px; background-position: 0.14204545454545456% 0.0942507068803016%; background-size: 334.6666666666667% 467.1280276816609%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_21::after {max-width:300px; width:100%;height:0;padding: 0 0 96.33333333333333% 0;}
.waec_mathematics_2015_paper_sol_22 {max-width:300px; max-height:170px; }
.waec_mathematics_2015_paper_sol_22::after {content: '\00a0';display: inline-block; width:300px; height:170px; background-position: 42.89772727272727% 94.23728813559322%; background-size: 334.6666666666667% 794.1176470588235%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_22::after {max-width:300px; width:100%;height:0;padding: 0 0 56.666666666666664% 0;}
.waec_mathematics_2015_paper_sol_27 {max-width:300px; max-height:215px; }
.waec_mathematics_2015_paper_sol_27::after {content: '\00a0';display: inline-block; width:300px; height:215px; background-position: 0.14204545454545456% 25.63876651982379%; background-size: 334.6666666666667% 627.9069767441861%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_27::after {max-width:300px; width:100%;height:0;padding: 0 0 71.66666666666667% 0;}
.waec_mathematics_2015_paper_sol_33 {max-width:300px; max-height:277px; }
.waec_mathematics_2015_paper_sol_33::after {content: '\00a0';display: inline-block; width:300px; height:277px; background-position: 42.89772727272727% 0.09319664492078285%; background-size: 334.6666666666667% 487.36462093862815%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_33::after {max-width:300px; width:100%;height:0;padding: 0 0 92.33333333333333% 0;}
.waec_mathematics_2015_paper_sol_41 {max-width:300px; max-height:178px; }
.waec_mathematics_2015_paper_sol_41::after {content: '\00a0';display: inline-block; width:300px; height:178px; background-position: 42.89772727272727% 79.60750853242321%; background-size: 334.6666666666667% 758.4269662921348%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_41::after {max-width:300px; width:100%;height:0;padding: 0 0 59.333333333333336% 0;}
.waec_mathematics_2015_paper_sol_42 {max-width:300px; max-height:211px; }
.waec_mathematics_2015_paper_sol_42::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 42.89772727272727% 45.56628621597893%; background-size: 334.6666666666667% 639.8104265402843%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_42::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}
.waec_mathematics_2015_paper_sol_44 {max-width:300px; max-height:247px; }
.waec_mathematics_2015_paper_sol_44::after {content: '\00a0';display: inline-block; width:300px; height:247px; background-position: 85.6534090909091% 17.58839528558477%; background-size: 334.6666666666667% 546.5587044534414%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_44::after {max-width:300px; width:100%;height:0;padding: 0 0 82.33333333333333% 0;}
.waec_mathematics_2015_paper_sol_45 {max-width:300px; max-height:169px; }
.waec_mathematics_2015_paper_sol_45::after {content: '\00a0';display: inline-block; width:300px; height:169px; background-position: 0.14204545454545456% 95.00423370025402%; background-size: 334.6666666666667% 798.8165680473372%; background-image: url(waec2015_0.png);padding: 0; }
div.waec_mathematics_2015_paper_sol_45::after {max-width:300px; width:100%;height:0;padding: 0 0 56.333333333333336% 0;}

@keyframes waec_mathematics_2015_paper_q-frames {
    0% { background-position: 88.15789473684211% 56.43478260869565%;  }
    10% { background-position: 85.6534090909091% 87.45762711864407%;  }
    20% { background-position: 85.6534090909091% 72.71171941830625%;  }
    30% { background-position: 0.14204545454545456% 80.20743301642177%;  }
    40% { background-position: 0.14204545454545456% 80.20743301642177%;  }
    50% { background-position: 42.89772727272727% 63.62053959965187%;  }
    60% { background-position: 85.6534090909091% 99.91694352159469%;  }
    70% { background-position: 42.89772727272727% 25.112511251125113%;  }
    80% { background-position: 0.14204545454545456% 44.63028169014085%;  }
    90% { background-position: 0.14204545454545456% 63.056768558951966%;  }
}

.waec_mathematics_2015_paper_q-animation {
    max-width: 320px;
    max-height: 200px;
}
.waec_mathematics_2015_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 320px;
    height: 200px;
    padding: 0;
    background-image: url(waec2015_0.png);
    background-size: 313.75% 675%; 
    animation-name: waec_mathematics_2015_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_mathematics_2015_paper_q-animation::after {
    max-width: 320px;
    width: 100%;
    height: 0;
    padding: 0 0 62.5% 0;
}

@keyframes waec_mathematics_2015_paper_sol-frames {
    0% { background-position: 87.26483357452966% 38.63636363636363%;  }
    10% { background-position: 99.83443708609272% 0.08635578583765112%;  }
    20% { background-position: 0.14204545454545456% 0.0942507068803016%;  }
    30% { background-position: 42.89772727272727% 94.23728813559322%;  }
    40% { background-position: 0.14204545454545456% 25.63876651982379%;  }
    50% { background-position: 42.89772727272727% 0.09319664492078285%;  }
    60% { background-position: 42.89772727272727% 79.60750853242321%;  }
    70% { background-position: 42.89772727272727% 45.56628621597893%;  }
    80% { background-position: 85.6534090909091% 17.58839528558477%;  }
    90% { background-position: 0.14204545454545456% 95.00423370025402%;  }
}

.waec_mathematics_2015_paper_sol-animation {
    max-width: 313px;
    max-height: 206px;
}
.waec_mathematics_2015_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 313px;
    height: 206px;
    padding: 0;
    background-image: url(waec2015_0.png);
    background-size: 320.7667731629393% 655.3398058252427%; 
    animation-name: waec_mathematics_2015_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_mathematics_2015_paper_sol-animation::after {
    max-width: 313px;
    width: 100%;
    height: 0;
    padding: 0 0 65.814696485623% 0;
}

/* $TexturePacker:SmartUpdate:4d26f33ff8e0673adca50bcc52ecd406:5ea01d3bac5ca48aad0fad48b9e301e7:ec8fdc294537b55c37eb8cab8101d526$ */
