/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_mathematics_2013_paper_q_35 {max-width:254px; max-height:310px; }
.waec_mathematics_2013_paper_q_35::after {content: '\00a0';display: inline-block; width:254px; height:310px; background-position: 49.66887417218543% 54.619565217391305%; background-size: 397.244094488189% 337.4193548387097%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_35::after {max-width:254px; width:100%;height:0;padding: 0 0 122.04724409448819% 0;}
.waec_mathematics_2013_paper_q_36 {max-width:280px; max-height:182px; }
.waec_mathematics_2013_paper_q_36::after {content: '\00a0';display: inline-block; width:280px; height:182px; background-position: 96.98216735253773% 90.97222222222223%; background-size: 360.35714285714283% 574.7252747252747%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_36::after {max-width:280px; width:100%;height:0;padding: 0 0 65% 0;}
.waec_mathematics_2013_paper_q_37 {max-width:300px; max-height:72px; }
.waec_mathematics_2013_paper_q_37::after {content: '\00a0';display: inline-block; width:300px; height:72px; background-position: 84.20310296191819% 73.20328542094455%; background-size: 336.3333333333333% 1452.7777777777778%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_37::after {max-width:300px; width:100%;height:0;padding: 0 0 24% 0;}
.waec_mathematics_2013_paper_q_38 {max-width:294px; max-height:190px; }
.waec_mathematics_2013_paper_q_38::after {content: '\00a0';display: inline-block; width:294px; height:190px; background-position: 0.13986013986013987% 83.17757009345794%; background-size: 343.19727891156464% 550.5263157894736%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_38::after {max-width:294px; width:100%;height:0;padding: 0 0 64.62585034013605% 0;}
.waec_mathematics_2013_paper_q_39 {max-width:236px; max-height:209px; }
.waec_mathematics_2013_paper_q_39::after {content: '\00a0';display: inline-block; width:236px; height:209px; background-position: 99.87063389391979% 0.11947431302270012%; background-size: 427.54237288135596% 500.47846889952154%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_39::after {max-width:236px; width:100%;height:0;padding: 0 0 88.55932203389831% 0;}
.waec_mathematics_2013_paper_q_40 {max-width:171px; max-height:185px; }
.waec_mathematics_2013_paper_q_40::after {content: '\00a0';display: inline-block; width:171px; height:185px; background-position: 98.92601431980907% 48.548199767711964%; background-size: 590.0584795321637% 565.4054054054054%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_40::after {max-width:171px; width:100%;height:0;padding: 0 0 108.18713450292398% 0;}
.waec_mathematics_2013_paper_q_41 {max-width:370px; max-height:400px; }
.waec_mathematics_2013_paper_q_41::after {content: '\00a0';display: inline-block; width:370px; height:400px; background-position: 62.75430359937402% 0.15479876160990713%; background-size: 272.7027027027027% 261.5%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_41::after {max-width:370px; width:100%;height:0;padding: 0 0 108.10810810810811% 0;}
.waec_mathematics_2013_paper_q_42 {max-width:198px; max-height:206px; }
.waec_mathematics_2013_paper_q_42::after {content: '\00a0';display: inline-block; width:198px; height:206px; background-position: 77.68187422934649% 49.76190476190476%; background-size: 509.5959595959596% 507.7669902912621%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_42::after {max-width:198px; width:100%;height:0;padding: 0 0 104.04040404040404% 0;}
.waec_mathematics_2013_paper_q_43 {max-width:399px; max-height:400px; }
.waec_mathematics_2013_paper_q_43::after {content: '\00a0';display: inline-block; width:399px; height:400px; background-position: 0.16393442622950818% 0.15479876160990713%; background-size: 252.88220551378447% 261.5%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_43::after {max-width:399px; width:100%;height:0;padding: 0 0 100.25062656641605% 0;}
.waec_mathematics_2013_paper_q_44 {max-width:218px; max-height:206px; }
.waec_mathematics_2013_paper_q_44::after {content: '\00a0';display: inline-block; width:218px; height:206px; background-position: 97.59797724399495% 25.11904761904762%; background-size: 462.8440366972477% 507.7669902912621%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_44::after {max-width:218px; width:100%;height:0;padding: 0 0 94.4954128440367% 0;}
.waec_mathematics_2013_paper_q_45 {max-width:294px; max-height:154px; }
.waec_mathematics_2013_paper_q_45::after {content: '\00a0';display: inline-block; width:294px; height:154px; background-position: 57.62237762237762% 99.88789237668162%; background-size: 343.19727891156464% 679.2207792207793%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_45::after {max-width:294px; width:100%;height:0;padding: 0 0 52.38095238095238% 0;}
.waec_mathematics_2013_paper_q_46 {max-width:300px; max-height:177px; }
.waec_mathematics_2013_paper_q_46::after {content: '\00a0';display: inline-block; width:300px; height:177px; background-position: 41.74894217207334% 82.04833141542002%; background-size: 336.3333333333333% 590.9604519774011%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_46::after {max-width:300px; width:100%;height:0;padding: 0 0 59% 0;}
.waec_mathematics_2013_paper_q_47 {max-width:204px; max-height:126px; }
.waec_mathematics_2013_paper_q_47::after {content: '\00a0';display: inline-block; width:204px; height:126px; background-position: 0.12422360248447205% 98.15217391304348%; background-size: 494.6078431372549% 830.1587301587301%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_47::after {max-width:204px; width:100%;height:0;padding: 0 0 61.76470588235294% 0;}
.waec_mathematics_2013_paper_q_48 {max-width:205px; max-height:116px; }
.waec_mathematics_2013_paper_q_48::after {content: '\00a0';display: inline-block; width:205px; height:116px; background-position: 25.621890547263682% 97.09677419354838%; background-size: 492.1951219512195% 901.7241379310345%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_q_48::after {max-width:205px; width:100%;height:0;padding: 0 0 56.58536585365854% 0;}
.waec_mathematics_2013_paper_sol_38 {max-width:373px; max-height:309px; }
.waec_mathematics_2013_paper_sol_38::after {content: '\00a0';display: inline-block; width:373px; height:309px; background-position: 0.15723270440251572% 54.54545454545455%; background-size: 270.5093833780161% 338.51132686084145%; background-image: url(waecmath2013_0.png);padding: 0; }
div.waec_mathematics_2013_paper_sol_38::after {max-width:373px; width:100%;height:0;padding: 0 0 82.84182305630027% 0;}

@keyframes waec_mathematics_2013_paper_q-frames {
    0% { background-position: 49.66887417218543% 54.619565217391305%;  }
    7.142857142857142% { background-position: 96.98216735253773% 90.97222222222223%;  }
    14.285714285714285% { background-position: 84.20310296191819% 73.20328542094455%;  }
    21.428571428571427% { background-position: 0.13986013986013987% 83.17757009345794%;  }
    28.57142857142857% { background-position: 99.87063389391979% 0.11947431302270012%;  }
    35.714285714285715% { background-position: 98.92601431980907% 48.548199767711964%;  }
    42.857142857142854% { background-position: 62.75430359937402% 0.15479876160990713%;  }
    50% { background-position: 77.68187422934649% 49.76190476190476%;  }
    57.14285714285714% { background-position: 0.16393442622950818% 0.15479876160990713%;  }
    64.28571428571429% { background-position: 97.59797724399495% 25.11904761904762%;  }
    71.42857142857143% { background-position: 57.62237762237762% 99.88789237668162%;  }
    78.57142857142857% { background-position: 41.74894217207334% 82.04833141542002%;  }
    85.71428571428571% { background-position: 0.12422360248447205% 98.15217391304348%;  }
    92.85714285714286% { background-position: 25.621890547263682% 97.09677419354838%;  }
}

.waec_mathematics_2013_paper_q-animation {
    max-width: 254px;
    max-height: 310px;
}
.waec_mathematics_2013_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 254px;
    height: 310px;
    padding: 0;
    background-image: url(waecmath2013_0.png);
    background-size: 397.244094488189% 337.4193548387097%; 
    animation-name: waec_mathematics_2013_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_mathematics_2013_paper_q-animation::after {
    max-width: 254px;
    width: 100%;
    height: 0;
    padding: 0 0 122.04724409448819% 0;
}

/* $TexturePacker:SmartUpdate:160d201be8407dac6c8e60c33552171c:27fae3505063e5cfa7ce358cb46ac8f4:154f287064e1818456cf16dbe9be950b$ */
