/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.BECE_Pre_Tech_2019_18 {max-width:310px; max-height:216px; }
.BECE_Pre_Tech_2019_18::after {content: '\00a0';display: inline-block; width:310px; height:216px; background-position: 0.15503875968992248% 72.20338983050847%; background-size: 308.06451612903226% 236.57407407407408%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_18::after {max-width:310px; width:100%;height:0;padding: 0 0 69.6774193548387% 0;}
.BECE_Pre_Tech_2019_19 {max-width:318px; max-height:211px; }
.BECE_Pre_Tech_2019_19::after {content: '\00a0';display: inline-block; width:318px; height:211px; background-position: 0.15698587127158556% 0.3333333333333333%; background-size: 300.314465408805% 242.18009478672985%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_19::after {max-width:318px; width:100%;height:0;padding: 0 0 66.35220125786164% 0;}
.BECE_Pre_Tech_2019_21 {max-width:168px; max-height:191px; }
.BECE_Pre_Tech_2019_21::after {content: '\00a0';display: inline-block; width:168px; height:191px; background-position: 60.48284625158831% 99.0625%; background-size: 568.452380952381% 267.5392670157068%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_21::after {max-width:168px; width:100%;height:0;padding: 0 0 113.69047619047619% 0;}
.BECE_Pre_Tech_2019_22 {max-width:163px; max-height:193px; }
.BECE_Pre_Tech_2019_22::after {content: '\00a0';display: inline-block; width:163px; height:193px; background-position: 39.39393939393939% 99.68553459119497%; background-size: 585.8895705521472% 264.76683937823833%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_22::after {max-width:163px; width:100%;height:0;padding: 0 0 118.40490797546012% 0;}
.BECE_Pre_Tech_2019_27 {max-width:192px; max-height:146px; }
.BECE_Pre_Tech_2019_27::after {content: '\00a0';display: inline-block; width:192px; height:146px; background-position: 96.59239842726082% 40%; background-size: 497.3958333333333% 350%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_27::after {max-width:192px; width:100%;height:0;padding: 0 0 76.04166666666667% 0;}
.BECE_Pre_Tech_2019_28 {max-width:121px; max-height:213px; }
.BECE_Pre_Tech_2019_28::after {content: '\00a0';display: inline-block; width:121px; height:213px; background-position: 88.96882494004797% 98.32214765100672%; background-size: 789.2561983471074% 239.906103286385%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_28::after {max-width:121px; width:100%;height:0;padding: 0 0 176.03305785123968% 0;}
.BECE_Pre_Tech_2019_29 {max-width:309px; max-height:144px; }
.BECE_Pre_Tech_2019_29::after {content: '\00a0';display: inline-block; width:309px; height:144px; background-position: 98.29721362229103% 0.2724795640326976%; background-size: 309.06148867313914% 354.8611111111111%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_29::after {max-width:309px; width:100%;height:0;padding: 0 0 46.601941747572816% 0;}
.BECE_Pre_Tech_2019_3 {max-width:211px; max-height:172px; }
.BECE_Pre_Tech_2019_3::after {content: '\00a0';display: inline-block; width:211px; height:172px; background-position: 43.01075268817204% 42.47787610619469%; background-size: 452.60663507109007% 297.09302325581393%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_3::after {max-width:211px; width:100%;height:0;padding: 0 0 81.51658767772511% 0;}
.BECE_Pre_Tech_2019_30 {max-width:314px; max-height:142px; }
.BECE_Pre_Tech_2019_30::after {content: '\00a0';display: inline-block; width:314px; height:142px; background-position: 49.921996879875195% 0.27100271002710025%; background-size: 304.140127388535% 359.85915492957747%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_30::after {max-width:314px; width:100%;height:0;padding: 0 0 45.22292993630573% 0;}
.BECE_Pre_Tech_2019_3_a {max-width:89px; max-height:48px; }
.BECE_Pre_Tech_2019_3_a::after {content: '\00a0';display: inline-block; width:89px; height:48px; background-position: 99.7690531177829% 73.86609071274297%; background-size: 1073.0337078651685% 1064.5833333333333%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_3_a::after {max-width:89px; width:100%;height:0;padding: 0 0 53.93258426966292% 0;}
.BECE_Pre_Tech_2019_3_b {max-width:96px; max-height:126px; }
.BECE_Pre_Tech_2019_3_b::after {content: '\00a0';display: inline-block; width:96px; height:126px; background-position: 75.08731082654249% 81.81818181818181%; background-size: 994.7916666666666% 405.55555555555554%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_3_b::after {max-width:96px; width:100%;height:0;padding: 0 0 131.25% 0;}
.BECE_Pre_Tech_2019_3_c {max-width:85px; max-height:65px; }
.BECE_Pre_Tech_2019_3_c::after {content: '\00a0';display: inline-block; width:85px; height:65px; background-position: 74.13793103448276% 99.10313901345292%; background-size: 1123.5294117647059% 786.1538461538462%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_3_c::after {max-width:85px; width:100%;height:0;padding: 0 0 76.47058823529412% 0;}
.BECE_Pre_Tech_2019_3_d {max-width:86px; max-height:63px; }
.BECE_Pre_Tech_2019_3_d::after {content: '\00a0';display: inline-block; width:86px; height:63px; background-position: 20.94361334867664% 95.98214285714286%; background-size: 1110.4651162790697% 811.1111111111111%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_3_d::after {max-width:86px; width:100%;height:0;padding: 0 0 73.25581395348837% 0;}
.BECE_Pre_Tech_2019_4 {max-width:204px; max-height:168px; }
.BECE_Pre_Tech_2019_4::after {content: '\00a0';display: inline-block; width:204px; height:168px; background-position: 70.83888149134488% 42.565597667638485%; background-size: 468.1372549019608% 304.1666666666667%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_4::after {max-width:204px; width:100%;height:0;padding: 0 0 82.3529411764706% 0;}
.BECE_Pre_Tech_2019_4_a {max-width:90px; max-height:45px; }
.BECE_Pre_Tech_2019_4_a::after {content: '\00a0';display: inline-block; width:90px; height:45px; background-position: 99.88439306358381% 83.90557939914163%; background-size: 1061.111111111111% 1135.5555555555557%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_4_a::after {max-width:90px; width:100%;height:0;padding: 0 0 50% 0;}
.BECE_Pre_Tech_2019_4_b {max-width:90px; max-height:48px; }
.BECE_Pre_Tech_2019_4_b::after {content: '\00a0';display: inline-block; width:90px; height:48px; background-position: 99.88439306358381% 63.2829373650108%; background-size: 1061.111111111111% 1064.5833333333333%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_4_b::after {max-width:90px; width:100%;height:0;padding: 0 0 53.333333333333336% 0;}
.BECE_Pre_Tech_2019_4_c {max-width:92px; max-height:59px; }
.BECE_Pre_Tech_2019_4_c::after {content: '\00a0';display: inline-block; width:92px; height:59px; background-position: 0.11587485515643106% 95.13274336283186%; background-size: 1038.0434782608695% 866.1016949152543%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_4_c::after {max-width:92px; width:100%;height:0;padding: 0 0 64.1304347826087% 0;}
.BECE_Pre_Tech_2019_4_d {max-width:87px; max-height:60px; }
.BECE_Pre_Tech_2019_4_d::after {content: '\00a0';display: inline-block; width:87px; height:60px; background-position: 10.829493087557603% 95.34368070953437%; background-size: 1097.7011494252874% 851.6666666666666%; background-image: url(pretech2019_0.png);padding: 0; }
div.BECE_Pre_Tech_2019_4_d::after {max-width:87px; width:100%;height:0;padding: 0 0 68.96551724137932% 0;}

@keyframes BECE_Pre_Tech_2019-frames {
    0% { background-position: 43.01075268817204% 42.47787610619469%;  }
    10% { background-position: 70.83888149134488% 42.565597667638485%;  }
    20% { background-position: 0.15503875968992248% 72.20338983050847%;  }
    30% { background-position: 0.15698587127158556% 0.3333333333333333%;  }
    40% { background-position: 60.48284625158831% 99.0625%;  }
    50% { background-position: 39.39393939393939% 99.68553459119497%;  }
    60% { background-position: 96.59239842726082% 40%;  }
    70% { background-position: 88.96882494004797% 98.32214765100672%;  }
    80% { background-position: 98.29721362229103% 0.2724795640326976%;  }
    90% { background-position: 49.921996879875195% 0.27100271002710025%;  }
}

.BECE_Pre_Tech_2019-animation {
    max-width: 211px;
    max-height: 172px;
}
.BECE_Pre_Tech_2019-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 211px;
    height: 172px;
    padding: 0;
    background-image: url(pretech2019_0.png);
    background-size: 452.60663507109007% 297.09302325581393%; 
    animation-name: BECE_Pre_Tech_2019-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.BECE_Pre_Tech_2019-animation::after {
    max-width: 211px;
    width: 100%;
    height: 0;
    padding: 0 0 81.51658767772511% 0;
}

/* $TexturePacker:SmartUpdate:2b9baf68b5b0437bcefe9f1697618629:ef0b2e0acdc9ca880f6909693ba3f956:b6ef3b3d108d0986105f17f0ecdf015a$ */
