/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.BECE_Pre_Tech_2018_16 {max-width:263px; max-height:179px; }
.BECE_Pre_Tech_2018_16::after {content: '\00a0';display: inline-block; width:263px; height:179px; background-position: 0.4132231404958678% 0.14534883720930233%; background-size: 192.01520912547528% 484.35754189944134%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_16::after {max-width:263px; width:100%;height:0;padding: 0 0 68.06083650190114% 0;}
.BECE_Pre_Tech_2018_17 {max-width:262px; max-height:180px; }
.BECE_Pre_Tech_2018_17::after {content: '\00a0';display: inline-block; width:262px; height:180px; background-position: 0.411522633744856% 26.346433770014556%; background-size: 192.74809160305344% 481.6666666666667%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_17::after {max-width:262px; width:100%;height:0;padding: 0 0 68.70229007633588% 0;}
.BECE_Pre_Tech_2018_25 {max-width:245px; max-height:232px; }
.BECE_Pre_Tech_2018_25::after {content: '\00a0';display: inline-block; width:245px; height:232px; background-position: 0.38461538461538464% 57.00787401574803%; background-size: 206.12244897959184% 373.7068965517241%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_25::after {max-width:245px; width:100%;height:0;padding: 0 0 94.6938775510204% 0;}
.BECE_Pre_Tech_2018_26 {max-width:239px; max-height:232px; }
.BECE_Pre_Tech_2018_26::after {content: '\00a0';display: inline-block; width:239px; height:232px; background-position: 99.62406015037594% 0.15748031496062992%; background-size: 211.29707112970712% 373.7068965517241%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_26::after {max-width:239px; width:100%;height:0;padding: 0 0 97.07112970711297% 0;}
.BECE_Pre_Tech_2018_29 {max-width:238px; max-height:159px; }
.BECE_Pre_Tech_2018_29::after {content: '\00a0';display: inline-block; width:238px; height:159px; background-position: 0.37453183520599254% 84.03954802259886%; background-size: 212.18487394957984% 545.2830188679245%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_29::after {max-width:238px; width:100%;height:0;padding: 0 0 66.80672268907563% 0;}
.BECE_Pre_Tech_2018_30 {max-width:238px; max-height:168px; }
.BECE_Pre_Tech_2018_30::after {content: '\00a0';display: inline-block; width:238px; height:168px; background-position: 92.50936329588015% 82.26037195994277%; background-size: 212.18487394957984% 516.0714285714286%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_30::after {max-width:238px; width:100%;height:0;padding: 0 0 70.58823529411765% 0;}
.BECE_Pre_Tech_2018_5 {max-width:241px; max-height:171px; }
.BECE_Pre_Tech_2018_5::after {content: '\00a0';display: inline-block; width:241px; height:171px; background-position: 93.56060606060606% 57.90229885057471%; background-size: 209.5435684647303% 507.0175438596491%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_5::after {max-width:241px; width:100%;height:0;padding: 0 0 70.95435684647303% 0;}
.BECE_Pre_Tech_2018_5_a {max-width:84px; max-height:54px; }
.BECE_Pre_Tech_2018_5_a::after {content: '\00a0';display: inline-block; width:84px; height:54px; background-position: 87.88598574821853% 98.8929889298893%; background-size: 601.1904761904761% 1605.5555555555557%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_5_a::after {max-width:84px; width:100%;height:0;padding: 0 0 64.28571428571429% 0;}
.BECE_Pre_Tech_2018_5_b {max-width:86px; max-height:54px; }
.BECE_Pre_Tech_2018_5_b::after {content: '\00a0';display: inline-block; width:86px; height:54px; background-position: 67.5417661097852% 98.8929889298893%; background-size: 587.2093023255813% 1605.5555555555557%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_5_b::after {max-width:86px; width:100%;height:0;padding: 0 0 62.7906976744186% 0;}
.BECE_Pre_Tech_2018_5_c {max-width:83px; max-height:62px; }
.BECE_Pre_Tech_2018_5_c::after {content: '\00a0';display: inline-block; width:83px; height:62px; background-position: 24.407582938388625% 93.7888198757764%; background-size: 608.433734939759% 1398.3870967741937%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_5_c::after {max-width:83px; width:100%;height:0;padding: 0 0 74.6987951807229% 0;}
.BECE_Pre_Tech_2018_5_d {max-width:101px; max-height:73px; }
.BECE_Pre_Tech_2018_5_d::after {content: '\00a0';display: inline-block; width:101px; height:73px; background-position: 0.24752475247524752% 95.088161209068%; background-size: 500% 1187.6712328767123%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_5_d::after {max-width:101px; width:100%;height:0;padding: 0 0 72.27722772277228% 0;}
.BECE_Pre_Tech_2018_6 {max-width:239px; max-height:168px; }
.BECE_Pre_Tech_2018_6::after {content: '\00a0';display: inline-block; width:239px; height:168px; background-position: 99.24812030075188% 33.47639484978541%; background-size: 211.29707112970712% 516.0714285714286%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_6::after {max-width:239px; width:100%;height:0;padding: 0 0 70.2928870292887% 0;}
.BECE_Pre_Tech_2018_6_a {max-width:86px; max-height:49px; }
.BECE_Pre_Tech_2018_6_a::after {content: '\00a0';display: inline-block; width:86px; height:49px; background-position: 44.630071599045344% 99.87775061124694%; background-size: 587.2093023255813% 1769.3877551020407%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_6_a::after {max-width:86px; width:100%;height:0;padding: 0 0 56.97674418604651% 0;}
.BECE_Pre_Tech_2018_6_b {max-width:87px; max-height:59px; }
.BECE_Pre_Tech_2018_6_b::after {content: '\00a0';display: inline-block; width:87px; height:59px; background-position: 67.70334928229666% 92.07920792079207%; background-size: 580.4597701149426% 1469.4915254237287%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_6_b::after {max-width:87px; width:100%;height:0;padding: 0 0 67.816091954023% 0;}
.BECE_Pre_Tech_2018_6_c {max-width:85px; max-height:52px; }
.BECE_Pre_Tech_2018_6_c::after {content: '\00a0';display: inline-block; width:85px; height:52px; background-position: 88.33333333333333% 91.28834355828221%; background-size: 594.1176470588235% 1667.3076923076924%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_6_c::after {max-width:85px; width:100%;height:0;padding: 0 0 61.1764705882353% 0;}
.BECE_Pre_Tech_2018_6_d {max-width:95px; max-height:61px; }
.BECE_Pre_Tech_2018_6_d::after {content: '\00a0';display: inline-block; width:95px; height:61px; background-position: 45.609756097560975% 93.67245657568238%; background-size: 531.578947368421% 1421.311475409836%; background-image: url(pretech2018_0.png);padding: 0; }
div.BECE_Pre_Tech_2018_6_d::after {max-width:95px; width:100%;height:0;padding: 0 0 64.21052631578948% 0;}

@keyframes BECE_Pre_Tech_2018-frames {
    0% { background-position: 93.56060606060606% 57.90229885057471%;  }
    12.5% { background-position: 99.24812030075188% 33.47639484978541%;  }
    25% { background-position: 0.4132231404958678% 0.14534883720930233%;  }
    37.5% { background-position: 0.411522633744856% 26.346433770014556%;  }
    50% { background-position: 0.38461538461538464% 57.00787401574803%;  }
    62.5% { background-position: 99.62406015037594% 0.15748031496062992%;  }
    75% { background-position: 0.37453183520599254% 84.03954802259886%;  }
    87.5% { background-position: 92.50936329588015% 82.26037195994277%;  }
}

.BECE_Pre_Tech_2018-animation {
    max-width: 241px;
    max-height: 171px;
}
.BECE_Pre_Tech_2018-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 241px;
    height: 171px;
    padding: 0;
    background-image: url(pretech2018_0.png);
    background-size: 209.5435684647303% 507.0175438596491%; 
    animation-name: BECE_Pre_Tech_2018-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.BECE_Pre_Tech_2018-animation::after {
    max-width: 241px;
    width: 100%;
    height: 0;
    padding: 0 0 70.95435684647303% 0;
}

/* $TexturePacker:SmartUpdate:d4d563ce096e003f19aafbbf1df027cf:bce319705f6e4aff99d9238a683b63cb:035d7efef08eb18641d334fd466c1d89$ */
