/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.BECE_Pre_Tech_2017_20 {max-width:281px; max-height:94px; }
.BECE_Pre_Tech_2017_20::after {content: '\00a0';display: inline-block; width:281px; height:94px; background-position: 99.93472584856397% 0.6410256410256411%; background-size: 645.1957295373666% 265.9574468085106%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_20::after {max-width:281px; width:100%;height:0;padding: 0 0 33.45195729537367% 0;}
.BECE_Pre_Tech_2017_21 {max-width:277px; max-height:95px; }
.BECE_Pre_Tech_2017_21::after {content: '\00a0';display: inline-block; width:277px; height:95px; background-position: 81.57552083333333% 0.6451612903225806%; background-size: 654.5126353790614% 263.1578947368421%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_21::after {max-width:277px; width:100%;height:0;padding: 0 0 34.29602888086642% 0;}
.BECE_Pre_Tech_2017_23 {max-width:272px; max-height:111px; }
.BECE_Pre_Tech_2017_23::after {content: '\00a0';display: inline-block; width:272px; height:111px; background-position: 60.35042180402336% 94.24460431654676%; background-size: 666.5441176470588% 225.22522522522522%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_23::after {max-width:272px; width:100%;height:0;padding: 0 0 40.80882352941177% 0;}
.BECE_Pre_Tech_2017_24 {max-width:259px; max-height:117px; }
.BECE_Pre_Tech_2017_24::after {content: '\00a0';display: inline-block; width:259px; height:117px; background-position: 33.526383526383526% 98.49624060150376%; background-size: 700% 213.67521367521368%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_24::after {max-width:259px; width:100%;height:0;padding: 0 0 45.173745173745175% 0;}
.BECE_Pre_Tech_2017_25 {max-width:257px; max-height:198px; }
.BECE_Pre_Tech_2017_25::after {content: '\00a0';display: inline-block; width:257px; height:198px; background-position: 0.06426735218508997% 1.9230769230769231%; background-size: 705.4474708171206% 126.26262626262626%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_25::after {max-width:257px; width:100%;height:0;padding: 0 0 77.04280155642023% 0;}
.BECE_Pre_Tech_2017_25_a {max-width:86px; max-height:50px; }
.BECE_Pre_Tech_2017_25_a::after {content: '\00a0';display: inline-block; width:86px; height:50px; background-position: 14.997104806022003% 99.5%; background-size: 2108.139534883721% 500%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_25_a::after {max-width:86px; width:100%;height:0;padding: 0 0 58.13953488372093% 0;}
.BECE_Pre_Tech_2017_25_b {max-width:84px; max-height:49px; }
.BECE_Pre_Tech_2017_25_b::after {content: '\00a0';display: inline-block; width:84px; height:49px; background-position: 0.0578368999421631% 99.50248756218906%; background-size: 2158.3333333333335% 510.2040816326531%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_25_b::after {max-width:84px; width:100%;height:0;padding: 0 0 58.333333333333336% 0;}
.BECE_Pre_Tech_2017_25_c {max-width:77px; max-height:50px; }
.BECE_Pre_Tech_2017_25_c::after {content: '\00a0';display: inline-block; width:77px; height:50px; background-position: 19.930875576036865% 99.5%; background-size: 2354.5454545454545% 500%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_25_c::after {max-width:77px; width:100%;height:0;padding: 0 0 64.93506493506493% 0;}
.BECE_Pre_Tech_2017_25_d {max-width:84px; max-height:57px; }
.BECE_Pre_Tech_2017_25_d::after {content: '\00a0';display: inline-block; width:84px; height:57px; background-position: 93.92712550607287% 79.79274611398964%; background-size: 2158.3333333333335% 438.5964912280702%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_25_d::after {max-width:84px; width:100%;height:0;padding: 0 0 67.85714285714286% 0;}
.BECE_Pre_Tech_2017_26 {max-width:261px; max-height:197px; }
.BECE_Pre_Tech_2017_26::after {content: '\00a0';display: inline-block; width:261px; height:197px; background-position: 16.688144329896907% 1.8867924528301887%; background-size: 694.6360153256705% 126.90355329949239%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_26::after {max-width:261px; width:100%;height:0;padding: 0 0 75.47892720306514% 0;}
.BECE_Pre_Tech_2017_26_a {max-width:81px; max-height:53px; }
.BECE_Pre_Tech_2017_26_a::after {content: '\00a0';display: inline-block; width:81px; height:53px; background-position: 99.01847575057737% 48.73096446700507%; background-size: 2238.2716049382716% 471.6981132075472%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_26_a::after {max-width:81px; width:100%;height:0;padding: 0 0 65.4320987654321% 0;}
.BECE_Pre_Tech_2017_26_b {max-width:81px; max-height:52px; }
.BECE_Pre_Tech_2017_26_b::after {content: '\00a0';display: inline-block; width:81px; height:52px; background-position: 99.01847575057737% 75.75757575757575%; background-size: 2238.2716049382716% 480.7692307692308%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_26_b::after {max-width:81px; width:100%;height:0;padding: 0 0 64.19753086419753% 0;}
.BECE_Pre_Tech_2017_26_c {max-width:83px; max-height:54px; }
.BECE_Pre_Tech_2017_26_c::after {content: '\00a0';display: inline-block; width:83px; height:54px; background-position: 94.27745664739885% 48.97959183673469%; background-size: 2184.3373493975905% 462.962962962963%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_26_c::after {max-width:83px; width:100%;height:0;padding: 0 0 65.06024096385542% 0;}
.BECE_Pre_Tech_2017_26_d {max-width:82px; max-height:59px; }
.BECE_Pre_Tech_2017_26_d::after {content: '\00a0';display: inline-block; width:82px; height:59px; background-position: 89.02368573079146% 84.81675392670157%; background-size: 2210.9756097560976% 423.728813559322%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_26_d::after {max-width:82px; width:100%;height:0;padding: 0 0 71.95121951219512% 0;}
.BECE_Pre_Tech_2017_27 {max-width:279px; max-height:109px; }
.BECE_Pre_Tech_2017_27::after {content: '\00a0';display: inline-block; width:279px; height:109px; background-position: 63.428943937418516% 0.7092198581560284%; background-size: 649.820788530466% 229.3577981651376%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_27::after {max-width:279px; width:100%;height:0;padding: 0 0 39.06810035842294% 0;}
.BECE_Pre_Tech_2017_28 {max-width:268px; max-height:107px; }
.BECE_Pre_Tech_2017_28::after {content: '\00a0';display: inline-block; width:268px; height:107px; background-position: 77.86407766990291% 77.62237762237763%; background-size: 676.4925373134329% 233.6448598130841%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_28::after {max-width:268px; width:100%;height:0;padding: 0 0 39.92537313432836% 0;}
.BECE_Pre_Tech_2017_6 {max-width:223px; max-height:129px; }
.BECE_Pre_Tech_2017_6::after {content: '\00a0';display: inline-block; width:223px; height:129px; background-position: 47.106918238993714% 0.8264462809917356%; background-size: 813.0044843049327% 193.7984496124031%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_6::after {max-width:223px; width:100%;height:0;padding: 0 0 57.847533632286996% 0;}
.BECE_Pre_Tech_2017_6_a {max-width:80px; max-height:48px; }
.BECE_Pre_Tech_2017_6_a::after {content: '\00a0';display: inline-block; width:80px; height:48px; background-position: 4.962492787074438% 99.00990099009901%; background-size: 2266.25% 520.8333333333334%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_6_a::after {max-width:80px; width:100%;height:0;padding: 0 0 60% 0;}
.BECE_Pre_Tech_2017_6_b {max-width:68px; max-height:61px; }
.BECE_Pre_Tech_2017_6_b::after {content: '\00a0';display: inline-block; width:68px; height:61px; background-position: 84.35530085959886% 85.71428571428571%; background-size: 2666.176470588235% 409.8360655737705%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_6_b::after {max-width:68px; width:100%;height:0;padding: 0 0 89.70588235294117% 0;}
.BECE_Pre_Tech_2017_6_c {max-width:72px; max-height:64px; }
.BECE_Pre_Tech_2017_6_c::after {content: '\00a0';display: inline-block; width:72px; height:64px; background-position: 84.5491097070649% 52.1505376344086%; background-size: 2518.0555555555557% 390.625%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_6_c::after {max-width:72px; width:100%;height:0;padding: 0 0 88.88888888888889% 0;}
.BECE_Pre_Tech_2017_6_d {max-width:77px; max-height:113px; }
.BECE_Pre_Tech_2017_6_d::after {content: '\00a0';display: inline-block; width:77px; height:113px; background-position: 49.07834101382488% 95.62043795620438%; background-size: 2354.5454545454545% 221.23893805309734%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_6_d::after {max-width:77px; width:100%;height:0;padding: 0 0 146.75324675324674% 0;}
.BECE_Pre_Tech_2017_7 {max-width:227px; max-height:129px; }
.BECE_Pre_Tech_2017_7::after {content: '\00a0';display: inline-block; width:227px; height:129px; background-position: 32.849936948297604% 0.8264462809917356%; background-size: 798.6784140969163% 193.7984496124031%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_7::after {max-width:227px; width:100%;height:0;padding: 0 0 56.82819383259912% 0;}
.BECE_Pre_Tech_2017_7_a {max-width:85px; max-height:57px; }
.BECE_Pre_Tech_2017_7_a::after {content: '\00a0';display: inline-block; width:85px; height:57px; background-position: 89.40972222222223% 49.740932642487046%; background-size: 2132.9411764705883% 438.5964912280702%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_7_a::after {max-width:85px; width:100%;height:0;padding: 0 0 67.05882352941177% 0;}
.BECE_Pre_Tech_2017_7_b {max-width:82px; max-height:42px; }
.BECE_Pre_Tech_2017_7_b::after {content: '\00a0';display: inline-block; width:82px; height:42px; background-position: 9.647602541883304% 96.15384615384616%; background-size: 2210.9756097560976% 595.2380952380952%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_7_b::after {max-width:82px; width:100%;height:0;padding: 0 0 51.21951219512195% 0;}
.BECE_Pre_Tech_2017_7_c {max-width:70px; max-height:115px; }
.BECE_Pre_Tech_2017_7_c::after {content: '\00a0';display: inline-block; width:70px; height:115px; background-position: 44.80780263912794% 97.03703703703704%; background-size: 2590% 217.3913043478261%; background-image: url(pretech2017_0.png);padding: 0; }
div.BECE_Pre_Tech_2017_7_c::after {max-width:70px; width:100%;height:0;padding: 0 0 164.28571428571428% 0;}

@keyframes BECE_Pre_Tech_2017-frames {
    0% { background-position: 47.106918238993714% 0.8264462809917356%;  }
    10% { background-position: 32.849936948297604% 0.8264462809917356%;  }
    20% { background-position: 99.93472584856397% 0.6410256410256411%;  }
    30% { background-position: 81.57552083333333% 0.6451612903225806%;  }
    40% { background-position: 60.35042180402336% 94.24460431654676%;  }
    50% { background-position: 33.526383526383526% 98.49624060150376%;  }
    60% { background-position: 0.06426735218508997% 1.9230769230769231%;  }
    70% { background-position: 16.688144329896907% 1.8867924528301887%;  }
    80% { background-position: 63.428943937418516% 0.7092198581560284%;  }
    90% { background-position: 77.86407766990291% 77.62237762237763%;  }
}

.BECE_Pre_Tech_2017-animation {
    max-width: 223px;
    max-height: 129px;
}
.BECE_Pre_Tech_2017-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 223px;
    height: 129px;
    padding: 0;
    background-image: url(pretech2017_0.png);
    background-size: 813.0044843049327% 193.7984496124031%; 
    animation-name: BECE_Pre_Tech_2017-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.BECE_Pre_Tech_2017-animation::after {
    max-width: 223px;
    width: 100%;
    height: 0;
    padding: 0 0 57.847533632286996% 0;
}

/* $TexturePacker:SmartUpdate:ab8389da7aef41116341614e6c575107:b2754e701b97e9f787e241f2ddca7d5b:61ede4a2496461945f0b4a282940338e$ */
