/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.BECE_Home_Eco_2020_5 {max-width:339px; max-height:282px; }
.BECE_Home_Eco_2020_5::after {content: '\00a0';display: inline-block; width:339px; height:282px; background-position: 99.72067039106145% 0.45871559633027525%; background-size: 205.6047197640118% 177.3049645390071%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_5::after {max-width:339px; width:100%;height:0;padding: 0 0 83.1858407079646% 0;}
.BECE_Home_Eco_2020_5_a {max-width:156px; max-height:114px; }
.BECE_Home_Eco_2020_5_a::after {content: '\00a0';display: inline-block; width:156px; height:114px; background-position: 62.292051756007396% 99.74093264248705%; background-size: 446.79487179487177% 438.5964912280702%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_5_a::after {max-width:156px; width:100%;height:0;padding: 0 0 73.07692307692308% 0;}
.BECE_Home_Eco_2020_5_b {max-width:167px; max-height:100px; }
.BECE_Home_Eco_2020_5_b::after {content: '\00a0';display: inline-block; width:167px; height:100px; background-position: 67.35849056603773% 71%; background-size: 417.36526946107784% 500%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_5_b::after {max-width:167px; width:100%;height:0;padding: 0 0 59.880239520958085% 0;}
.BECE_Home_Eco_2020_5_c {max-width:155px; max-height:113px; }
.BECE_Home_Eco_2020_5_c::after {content: '\00a0';display: inline-block; width:155px; height:113px; background-position: 91.14391143911439% 99.74160206718346%; background-size: 449.6774193548387% 442.4778761061947%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_5_c::after {max-width:155px; width:100%;height:0;padding: 0 0 72.90322580645162% 0;}
.BECE_Home_Eco_2020_5_d {max-width:162px; max-height:101px; }
.BECE_Home_Eco_2020_5_d::after {content: '\00a0';display: inline-block; width:162px; height:101px; background-position: 98.13084112149532% 71.17794486215539%; background-size: 430.24691358024694% 495.0495049504951%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_5_d::after {max-width:162px; width:100%;height:0;padding: 0 0 62.34567901234568% 0;}
.BECE_Home_Eco_2020_6 {max-width:355px; max-height:298px; }
.BECE_Home_Eco_2020_6::after {content: '\00a0';display: inline-block; width:355px; height:298px; background-position: 0.29239766081871343% 0.49504950495049505%; background-size: 196.33802816901408% 167.78523489932886%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_6::after {max-width:355px; width:100%;height:0;padding: 0 0 83.94366197183099% 0;}
.BECE_Home_Eco_2020_6_a {max-width:172px; max-height:99px; }
.BECE_Home_Eco_2020_6_a::after {content: '\00a0';display: inline-block; width:172px; height:99px; background-position: 31.238095238095237% 74.81296758104739%; background-size: 405.2325581395349% 505.050505050505%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_6_a::after {max-width:172px; width:100%;height:0;padding: 0 0 57.55813953488372% 0;}
.BECE_Home_Eco_2020_6_b {max-width:151px; max-height:97px; }
.BECE_Home_Eco_2020_6_b::after {content: '\00a0';display: inline-block; width:151px; height:97px; background-position: 32.78388278388278% 99.25558312655087%; background-size: 461.58940397350995% 515.4639175257732%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_6_b::after {max-width:151px; width:100%;height:0;padding: 0 0 64.23841059602648% 0;}
.BECE_Home_Eco_2020_6_c {max-width:177px; max-height:87px; }
.BECE_Home_Eco_2020_6_c::after {content: '\00a0';display: inline-block; width:177px; height:87px; background-position: 0.19230769230769232% 99.51573849878935%; background-size: 393.7853107344633% 574.7126436781609%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_6_c::after {max-width:177px; width:100%;height:0;padding: 0 0 49.152542372881356% 0;}
.BECE_Home_Eco_2020_6_d {max-width:162px; max-height:110px; }
.BECE_Home_Eco_2020_6_d::after {content: '\00a0';display: inline-block; width:162px; height:110px; background-position: 0.18691588785046728% 76.92307692307692%; background-size: 430.24691358024694% 454.54545454545456%; background-image: url(heco2020_0.png);padding: 0; }
div.BECE_Home_Eco_2020_6_d::after {max-width:162px; width:100%;height:0;padding: 0 0 67.90123456790124% 0;}

@keyframes BECE_Home_Eco_2020-frames {
    0% { background-position: 99.72067039106145% 0.45871559633027525%;  }
    50% { background-position: 0.29239766081871343% 0.49504950495049505%;  }
}

.BECE_Home_Eco_2020-animation {
    max-width: 339px;
    max-height: 282px;
}
.BECE_Home_Eco_2020-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 339px;
    height: 282px;
    padding: 0;
    background-image: url(heco2020_0.png);
    background-size: 205.6047197640118% 177.3049645390071%; 
    animation-name: BECE_Home_Eco_2020-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.BECE_Home_Eco_2020-animation::after {
    max-width: 339px;
    width: 100%;
    height: 0;
    padding: 0 0 83.1858407079646% 0;
}

/* $TexturePacker:SmartUpdate:a73e499905b192ef1b179bdce413a1c0:983c68d67fd54de4668f03905355a9f7:5065adc1e0254efaf9fcf81d83a26704$ */
