/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_computer_studies_2021_paper_q_11 {max-width:400px; max-height:188px; }
.waec_computer_studies_2021_paper_q_11::after {content: '\00a0';display: inline-block; width:400px; height:188px; background-position: 99.75186104218362% 35.65505804311775%; background-size: 200.75% 741.4893617021277%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_11::after {max-width:400px; width:100%;height:0;padding: 0 0 47% 0;}
.waec_computer_studies_2021_paper_q_12 {max-width:400px; max-height:167px; }
.waec_computer_studies_2021_paper_q_12::after {content: '\00a0';display: inline-block; width:400px; height:167px; background-position: 99.75186104218362% 64.22167889160554%; background-size: 200.75% 834.7305389221557%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_12::after {max-width:400px; width:100%;height:0;padding: 0 0 41.75% 0;}
.waec_computer_studies_2021_paper_q_13 {max-width:400px; max-height:167px; }
.waec_computer_studies_2021_paper_q_13::after {content: '\00a0';display: inline-block; width:400px; height:167px; background-position: 99.75186104218362% 64.22167889160554%; background-size: 200.75% 834.7305389221557%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_13::after {max-width:400px; width:100%;height:0;padding: 0 0 41.75% 0;}
.waec_computer_studies_2021_paper_q_14 {max-width:400px; max-height:168px; }
.waec_computer_studies_2021_paper_q_14::after {content: '\00a0';display: inline-block; width:400px; height:168px; background-position: 99.75186104218362% 50.48939641109298%; background-size: 200.75% 829.7619047619048%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_14::after {max-width:400px; width:100%;height:0;padding: 0 0 42% 0;}
.waec_computer_studies_2021_paper_q_23 {max-width:400px; max-height:346px; }
.waec_computer_studies_2021_paper_q_23::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 36.16412213740458%; background-size: 200.75% 402.8901734104046%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_23::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_computer_studies_2021_paper_q_24 {max-width:400px; max-height:346px; }
.waec_computer_studies_2021_paper_q_24::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 36.16412213740458%; background-size: 200.75% 402.8901734104046%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_24::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_computer_studies_2021_paper_q_25 {max-width:400px; max-height:346px; }
.waec_computer_studies_2021_paper_q_25::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 36.16412213740458%; background-size: 200.75% 402.8901734104046%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_25::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_computer_studies_2021_paper_q_27 {max-width:400px; max-height:235px; }
.waec_computer_studies_2021_paper_q_27::after {content: '\00a0';display: inline-block; width:400px; height:235px; background-position: 99.75186104218362% 0.08628127696289906%; background-size: 200.75% 593.1914893617021%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_27::after {max-width:400px; width:100%;height:0;padding: 0 0 58.75% 0;}
.waec_computer_studies_2021_paper_q_28 {max-width:400px; max-height:125px; }
.waec_computer_studies_2021_paper_q_28::after {content: '\00a0';display: inline-block; width:400px; height:125px; background-position: 99.75186104218362% 99.60598896769109%; background-size: 200.75% 1115.2%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_28::after {max-width:400px; width:100%;height:0;padding: 0 0 31.25% 0;}
.waec_computer_studies_2021_paper_q_31 {max-width:400px; max-height:261px; }
.waec_computer_studies_2021_paper_q_31::after {content: '\00a0';display: inline-block; width:400px; height:261px; background-position: 0.24813895781637718% 64.07766990291262%; background-size: 200.75% 534.0996168582376%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_31::after {max-width:400px; width:100%;height:0;padding: 0 0 65.25% 0;}
.waec_computer_studies_2021_paper_q_33 {max-width:400px; max-height:157px; }
.waec_computer_studies_2021_paper_q_33::after {content: '\00a0';display: inline-block; width:400px; height:157px; background-position: 99.75186104218362% 77.28375101050929%; background-size: 200.75% 887.8980891719746%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_33::after {max-width:400px; width:100%;height:0;padding: 0 0 39.25% 0;}
.waec_computer_studies_2021_paper_q_35 {max-width:400px; max-height:377px; }
.waec_computer_studies_2021_paper_q_35::after {content: '\00a0';display: inline-block; width:400px; height:377px; background-position: 0.24813895781637718% 0.09832841691248771%; background-size: 200.75% 369.7612732095491%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_35::after {max-width:400px; width:100%;height:0;padding: 0 0 94.25% 0;}
.waec_computer_studies_2021_paper_q_37 {max-width:400px; max-height:149px; }
.waec_computer_studies_2021_paper_q_37::after {content: '\00a0';display: inline-block; width:400px; height:149px; background-position: 0.24813895781637718% 99.91967871485944%; background-size: 200.75% 935.5704697986578%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_37::after {max-width:400px; width:100%;height:0;padding: 0 0 37.25% 0;}
.waec_computer_studies_2021_paper_q_42 {max-width:400px; max-height:255px; }
.waec_computer_studies_2021_paper_q_42::after {content: '\00a0';display: inline-block; width:400px; height:255px; background-position: 0.24813895781637718% 86.74275680421422%; background-size: 200.75% 546.6666666666666%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_42::after {max-width:400px; width:100%;height:0;padding: 0 0 63.75% 0;}
.waec_computer_studies_2021_paper_q_47 {max-width:400px; max-height:149px; }
.waec_computer_studies_2021_paper_q_47::after {content: '\00a0';display: inline-block; width:400px; height:149px; background-position: 99.75186104218362% 89.47791164658635%; background-size: 200.75% 935.5704697986578%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_47::after {max-width:400px; width:100%;height:0;padding: 0 0 37.25% 0;}
.waec_computer_studies_2021_paper_q_56 {max-width:400px; max-height:192px; }
.waec_computer_studies_2021_paper_q_56::after {content: '\00a0';display: inline-block; width:400px; height:192px; background-position: 99.75186104218362% 19.717138103161396%; background-size: 200.75% 726.0416666666666%; background-image: url(computer2021_0.png);padding: 0; }
div.waec_computer_studies_2021_paper_q_56::after {max-width:400px; width:100%;height:0;padding: 0 0 48% 0;}

@keyframes waec_computer_studies_2021_paper_q-frames {
    0% { background-position: 99.75186104218362% 35.65505804311775%;  }
    6.25% { background-position: 99.75186104218362% 64.22167889160554%;  }
    12.5% { background-position: 99.75186104218362% 64.22167889160554%;  }
    18.75% { background-position: 99.75186104218362% 50.48939641109298%;  }
    25% { background-position: 0.24813895781637718% 36.16412213740458%;  }
    31.25% { background-position: 0.24813895781637718% 36.16412213740458%;  }
    37.5% { background-position: 0.24813895781637718% 36.16412213740458%;  }
    43.75% { background-position: 99.75186104218362% 0.08628127696289906%;  }
    50% { background-position: 99.75186104218362% 99.60598896769109%;  }
    56.25% { background-position: 0.24813895781637718% 64.07766990291262%;  }
    62.5% { background-position: 99.75186104218362% 77.28375101050929%;  }
    68.75% { background-position: 0.24813895781637718% 0.09832841691248771%;  }
    75% { background-position: 0.24813895781637718% 99.91967871485944%;  }
    81.25% { background-position: 0.24813895781637718% 86.74275680421422%;  }
    87.5% { background-position: 99.75186104218362% 89.47791164658635%;  }
    93.75% { background-position: 99.75186104218362% 19.717138103161396%;  }
}

.waec_computer_studies_2021_paper_q-animation {
    max-width: 400px;
    max-height: 188px;
}
.waec_computer_studies_2021_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 188px;
    padding: 0;
    background-image: url(computer2021_0.png);
    background-size: 200.75% 741.4893617021277%; 
    animation-name: waec_computer_studies_2021_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_computer_studies_2021_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 47% 0;
}

/* $TexturePacker:SmartUpdate:989c195f28469baaef1672efbda1a367:668024ed2b13d5cf674a670c043d6eb0:069f91161a2b142466de2b4012a4dea4$ */
