/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_computer_studies_2024_paper_q_10 {max-width:400px; max-height:123px; }
.waec_computer_studies_2024_paper_q_10::after {content: '\00a0';display: inline-block; width:400px; height:123px; background-position: 50% 99.93098688750862%; background-size: 100.5% 1278.0487804878048%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_10::after {max-width:400px; width:100%;height:0;padding: 0 0 30.75% 0;}
.waec_computer_studies_2024_paper_q_11 {max-width:400px; max-height:123px; }
.waec_computer_studies_2024_paper_q_11::after {content: '\00a0';display: inline-block; width:400px; height:123px; background-position: 50% 99.93098688750862%; background-size: 100.5% 1278.0487804878048%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_11::after {max-width:400px; width:100%;height:0;padding: 0 0 30.75% 0;}
.waec_computer_studies_2024_paper_q_12 {max-width:400px; max-height:123px; }
.waec_computer_studies_2024_paper_q_12::after {content: '\00a0';display: inline-block; width:400px; height:123px; background-position: 50% 99.93098688750862%; background-size: 100.5% 1278.0487804878048%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_12::after {max-width:400px; width:100%;height:0;padding: 0 0 30.75% 0;}
.waec_computer_studies_2024_paper_q_13 {max-width:400px; max-height:123px; }
.waec_computer_studies_2024_paper_q_13::after {content: '\00a0';display: inline-block; width:400px; height:123px; background-position: 50% 99.93098688750862%; background-size: 100.5% 1278.0487804878048%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_13::after {max-width:400px; width:100%;height:0;padding: 0 0 30.75% 0;}
.waec_computer_studies_2024_paper_q_14 {max-width:400px; max-height:199px; }
.waec_computer_studies_2024_paper_q_14::after {content: '\00a0';display: inline-block; width:400px; height:199px; background-position: 50% 80.18936635105608%; background-size: 100.5% 789.9497487437186%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_14::after {max-width:400px; width:100%;height:0;padding: 0 0 49.75% 0;}
.waec_computer_studies_2024_paper_q_20 {max-width:400px; max-height:146px; }
.waec_computer_studies_2024_paper_q_20::after {content: '\00a0';display: inline-block; width:400px; height:146px; background-position: 50% 91.23422159887798%; background-size: 100.5% 1076.7123287671234%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_20::after {max-width:400px; width:100%;height:0;padding: 0 0 36.5% 0;}
.waec_computer_studies_2024_paper_q_21 {max-width:400px; max-height:146px; }
.waec_computer_studies_2024_paper_q_21::after {content: '\00a0';display: inline-block; width:400px; height:146px; background-position: 50% 91.23422159887798%; background-size: 100.5% 1076.7123287671234%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_21::after {max-width:400px; width:100%;height:0;padding: 0 0 36.5% 0;}
.waec_computer_studies_2024_paper_q_35 {max-width:400px; max-height:356px; }
.waec_computer_studies_2024_paper_q_35::after {content: '\00a0';display: inline-block; width:400px; height:356px; background-position: 50% 0.08223684210526316%; background-size: 100.5% 441.5730337078652%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_35::after {max-width:400px; width:100%;height:0;padding: 0 0 89% 0;}
.waec_computer_studies_2024_paper_q_37 {max-width:400px; max-height:302px; }
.waec_computer_studies_2024_paper_q_37::after {content: '\00a0';display: inline-block; width:400px; height:302px; background-position: 50% 28.188976377952756%; background-size: 100.5% 520.5298013245033%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_37::after {max-width:400px; width:100%;height:0;padding: 0 0 75.5% 0;}
.waec_computer_studies_2024_paper_q_47 {max-width:400px; max-height:222px; }
.waec_computer_studies_2024_paper_q_47::after {content: '\00a0';display: inline-block; width:400px; height:222px; background-position: 50% 48.96296296296296%; background-size: 100.5% 708.1081081081081%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_q_47::after {max-width:400px; width:100%;height:0;padding: 0 0 55.5% 0;}
.waec_computer_studies_2024_paper_sol_10 {max-width:400px; max-height:216px; }
.waec_computer_studies_2024_paper_sol_10::after {content: '\00a0';display: inline-block; width:400px; height:216px; background-position: 50% 65.19174041297936%; background-size: 100.5% 727.7777777777778%; background-image: url(computer2024_0.png);padding: 0; }
div.waec_computer_studies_2024_paper_sol_10::after {max-width:400px; width:100%;height:0;padding: 0 0 54% 0;}

@keyframes waec_computer_studies_2024_paper_q-frames {
    0% { background-position: 50% 99.93098688750862%;  }
    10% { background-position: 50% 99.93098688750862%;  }
    20% { background-position: 50% 99.93098688750862%;  }
    30% { background-position: 50% 99.93098688750862%;  }
    40% { background-position: 50% 80.18936635105608%;  }
    50% { background-position: 50% 91.23422159887798%;  }
    60% { background-position: 50% 91.23422159887798%;  }
    70% { background-position: 50% 0.08223684210526316%;  }
    80% { background-position: 50% 28.188976377952756%;  }
    90% { background-position: 50% 48.96296296296296%;  }
}

.waec_computer_studies_2024_paper_q-animation {
    max-width: 400px;
    max-height: 123px;
}
.waec_computer_studies_2024_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 123px;
    padding: 0;
    background-image: url(computer2024_0.png);
    background-size: 100.5% 1278.0487804878048%; 
    animation-name: waec_computer_studies_2024_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_computer_studies_2024_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 30.75% 0;
}

/* $TexturePacker:SmartUpdate:ce47ba386102fabd39215a5abd55bb3d:dd2f25764049f08e7333b148e6f3ceb4:cea514c946fd06e7000564b2404f2b33$ */
