/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_geography_2020_paper_q_1 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_1::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_1::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_10 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_10::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_10::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_11 {max-width:400px; max-height:30px; }
.waec_geography_2020_paper_q_11::after {content: '\00a0';display: inline-block; width:400px; height:30px; background-position: 50% 99.75186104218362%; background-size: 100.5% 1443.3333333333333%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_11::after {max-width:400px; width:100%;height:0;padding: 0 0 7.5% 0;}
.waec_geography_2020_paper_q_12 {max-width:400px; max-height:30px; }
.waec_geography_2020_paper_q_12::after {content: '\00a0';display: inline-block; width:400px; height:30px; background-position: 50% 99.75186104218362%; background-size: 100.5% 1443.3333333333333%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_12::after {max-width:400px; width:100%;height:0;padding: 0 0 7.5% 0;}
.waec_geography_2020_paper_q_13 {max-width:400px; max-height:30px; }
.waec_geography_2020_paper_q_13::after {content: '\00a0';display: inline-block; width:400px; height:30px; background-position: 50% 99.75186104218362%; background-size: 100.5% 1443.3333333333333%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_13::after {max-width:400px; width:100%;height:0;padding: 0 0 7.5% 0;}
.waec_geography_2020_paper_q_14 {max-width:400px; max-height:30px; }
.waec_geography_2020_paper_q_14::after {content: '\00a0';display: inline-block; width:400px; height:30px; background-position: 50% 99.75186104218362%; background-size: 100.5% 1443.3333333333333%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_14::after {max-width:400px; width:100%;height:0;padding: 0 0 7.5% 0;}
.waec_geography_2020_paper_q_2 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_2::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_2::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_3 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_3::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_3::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_4 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_4::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_4::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_5 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_5::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_5::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_6 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_6::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_6::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_7 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_7::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_7::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_8 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_8::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_8::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}
.waec_geography_2020_paper_q_9 {max-width:335px; max-height:400px; }
.waec_geography_2020_paper_q_9::after {content: '\00a0';display: inline-block; width:335px; height:400px; background-position: 1.492537313432836% 3.0303030303030303%; background-size: 120% 108.25%; background-image: url(waecgeog2020_0.png);padding: 0; }
div.waec_geography_2020_paper_q_9::after {max-width:335px; width:100%;height:0;padding: 0 0 119.40298507462687% 0;}

@keyframes waec_geography_2020_paper_q-frames {
    0% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    7.142857142857142% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    14.285714285714285% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    21.428571428571427% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    28.57142857142857% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    35.714285714285715% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    42.857142857142854% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    50% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    57.14285714285714% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    64.28571428571429% { background-position: 1.492537313432836% 3.0303030303030303%;  }
    71.42857142857143% { background-position: 50% 99.75186104218362%;  }
    78.57142857142857% { background-position: 50% 99.75186104218362%;  }
    85.71428571428571% { background-position: 50% 99.75186104218362%;  }
    92.85714285714286% { background-position: 50% 99.75186104218362%;  }
}

.waec_geography_2020_paper_q-animation {
    max-width: 335px;
    max-height: 400px;
}
.waec_geography_2020_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 335px;
    height: 400px;
    padding: 0;
    background-image: url(waecgeog2020_0.png);
    background-size: 120% 108.25%; 
    animation-name: waec_geography_2020_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_geography_2020_paper_q-animation::after {
    max-width: 335px;
    width: 100%;
    height: 0;
    padding: 0 0 119.40298507462687% 0;
}

/* $TexturePacker:SmartUpdate:ccf0768b66811791014d87c6a043be34:b888ac3013a05c701717a5bd62e694ce:83151ff46df51e292fcf10081347840b$ */
