/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_physics_2018_paper_q_13 {max-width:400px; max-height:264px; }
.waec_physics_2018_paper_q_13::after {content: '\00a0';display: inline-block; width:400px; height:264px; background-position: 6.599713055954089% 81.70731707317073%; background-size: 448.5% 286.3636363636364%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_13::after {max-width:400px; width:100%;height:0;padding: 0 0 66% 0;}
.waec_physics_2018_paper_q_18 {max-width:400px; max-height:124px; }
.waec_physics_2018_paper_q_18::after {content: '\00a0';display: inline-block; width:400px; height:124px; background-position: 49.35437589670014% 35.12658227848101%; background-size: 448.5% 609.6774193548387%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_18::after {max-width:400px; width:100%;height:0;padding: 0 0 31% 0;}
.waec_physics_2018_paper_q_22 {max-width:90px; max-height:279px; }
.waec_physics_2018_paper_q_22::after {content: '\00a0';display: inline-block; width:90px; height:279px; background-position: 0.05868544600938967% 84.27672955974843%; background-size: 1993.3333333333333% 270.96774193548384%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_22::after {max-width:90px; width:100%;height:0;padding: 0 0 310% 0;}
.waec_physics_2018_paper_q_26 {max-width:398px; max-height:248px; }
.waec_physics_2018_paper_q_26::after {content: '\00a0';display: inline-block; width:398px; height:248px; background-position: 20.558739255014327% 0.1968503937007874%; background-size: 450.7537688442211% 304.83870967741933%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_26::after {max-width:398px; width:100%;height:0;padding: 0 0 62.311557788944725% 0;}
.waec_physics_2018_paper_q_28 {max-width:400px; max-height:120px; }
.waec_physics_2018_paper_q_28::after {content: '\00a0';display: inline-block; width:400px; height:120px; background-position: 92.89813486370157% 61.0062893081761%; background-size: 448.5% 630%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_28::after {max-width:400px; width:100%;height:0;padding: 0 0 30% 0;}
.waec_physics_2018_paper_q_3 {max-width:285px; max-height:400px; }
.waec_physics_2018_paper_q_3::after {content: '\00a0';display: inline-block; width:285px; height:400px; background-position: 0.06626905235255136% 0.2808988764044944%; background-size: 629.4736842105264% 189%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_3::after {max-width:285px; width:100%;height:0;padding: 0 0 140.35087719298247% 0;}
.waec_physics_2018_paper_q_30 {max-width:400px; max-height:173px; }
.waec_physics_2018_paper_q_30::after {content: '\00a0';display: inline-block; width:400px; height:173px; background-position: 35.36585365853659% 99.82847341337907%; background-size: 448.5% 436.9942196531792%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_30::after {max-width:400px; width:100%;height:0;padding: 0 0 43.25% 0;}
.waec_physics_2018_paper_q_33 {max-width:400px; max-height:205px; }
.waec_physics_2018_paper_q_33::after {content: '\00a0';display: inline-block; width:400px; height:205px; background-position: 35.36585365853659% 68.23956442831216%; background-size: 448.5% 368.780487804878%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_33::after {max-width:400px; width:100%;height:0;padding: 0 0 51.25% 0;}
.waec_physics_2018_paper_q_36 {max-width:400px; max-height:125px; }
.waec_physics_2018_paper_q_36::after {content: '\00a0';display: inline-block; width:400px; height:125px; background-position: 20.58823529411765% 39.61965134706814%; background-size: 448.5% 604.8%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_36::after {max-width:400px; width:100%;height:0;padding: 0 0 31.25% 0;}
.waec_physics_2018_paper_q_39 {max-width:400px; max-height:183px; }
.waec_physics_2018_paper_q_39::after {content: '\00a0';display: inline-block; width:400px; height:183px; background-position: 64.13199426111908% 65.09598603839441%; background-size: 448.5% 413.11475409836066%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_39::after {max-width:400px; width:100%;height:0;padding: 0 0 45.75% 0;}
.waec_physics_2018_paper_q_41 {max-width:400px; max-height:185px; }
.waec_physics_2018_paper_q_41::after {content: '\00a0';display: inline-block; width:400px; height:185px; background-position: 99.92826398852223% 35.37653239929948%; background-size: 448.5% 408.64864864864865%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_41::after {max-width:400px; width:100%;height:0;padding: 0 0 46.25% 0;}
.waec_physics_2018_paper_q_45 {max-width:400px; max-height:120px; }
.waec_physics_2018_paper_q_45::after {content: '\00a0';display: inline-block; width:400px; height:120px; background-position: 92.89813486370157% 80.03144654088051%; background-size: 448.5% 630%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_45::after {max-width:400px; width:100%;height:0;padding: 0 0 30% 0;}
.waec_physics_2018_paper_q_58 {max-width:396px; max-height:220px; }
.waec_physics_2018_paper_q_58::after {content: '\00a0';display: inline-block; width:396px; height:220px; background-position: 49.07010014306152% 0.1865671641791045%; background-size: 453.030303030303% 343.6363636363636%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_58::after {max-width:396px; width:100%;height:0;padding: 0 0 55.55555555555556% 0;}
.waec_physics_2018_paper_q_60 {max-width:216px; max-height:167px; }
.waec_physics_2018_paper_q_60::after {content: '\00a0';display: inline-block; width:216px; height:167px; background-position: 69.01140684410646% 34.80475382003396%; background-size: 830.5555555555555% 452.6946107784431%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_60::after {max-width:216px; width:100%;height:0;padding: 0 0 77.31481481481481% 0;}
.waec_physics_2018_paper_q_61 {max-width:309px; max-height:203px; }
.waec_physics_2018_paper_q_61::after {content: '\00a0';display: inline-block; width:309px; height:203px; background-position: 72.92929292929293% 0.18083182640144665%; background-size: 580.5825242718447% 372.41379310344826%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_61::after {max-width:309px; width:100%;height:0;padding: 0 0 65.6957928802589% 0;}
.waec_physics_2018_paper_q_63 {max-width:400px; max-height:200px; }
.waec_physics_2018_paper_q_63::after {content: '\00a0';display: inline-block; width:400px; height:200px; background-position: 99.92826398852223% 0.17985611510791366%; background-size: 448.5% 378%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_63::after {max-width:400px; width:100%;height:0;padding: 0 0 50% 0;}
.waec_physics_2018_paper_q_64 {max-width:400px; max-height:178px; }
.waec_physics_2018_paper_q_64::after {content: '\00a0';display: inline-block; width:400px; height:178px; background-position: 64.13199426111908% 96.36678200692042%; background-size: 448.5% 424.7191011235955%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_64::after {max-width:400px; width:100%;height:0;padding: 0 0 44.5% 0;}
.waec_physics_2018_paper_q_8 {max-width:400px; max-height:86px; }
.waec_physics_2018_paper_q_8::after {content: '\00a0';display: inline-block; width:400px; height:86px; background-position: 6.599713055954089% 99.55223880597015%; background-size: 448.5% 879.0697674418604%; background-image: url(waecphysics2018_0.png);padding: 0; }
div.waec_physics_2018_paper_q_8::after {max-width:400px; width:100%;height:0;padding: 0 0 21.5% 0;}

@keyframes waec_physics_2018_paper_q-frames {
    0% { background-position: 0.06626905235255136% 0.2808988764044944%;  }
    5.555555555555555% { background-position: 6.599713055954089% 99.55223880597015%;  }
    11.11111111111111% { background-position: 6.599713055954089% 81.70731707317073%;  }
    16.666666666666664% { background-position: 49.35437589670014% 35.12658227848101%;  }
    22.22222222222222% { background-position: 0.05868544600938967% 84.27672955974843%;  }
    27.77777777777778% { background-position: 20.558739255014327% 0.1968503937007874%;  }
    33.33333333333333% { background-position: 92.89813486370157% 61.0062893081761%;  }
    38.88888888888889% { background-position: 35.36585365853659% 99.82847341337907%;  }
    44.44444444444444% { background-position: 35.36585365853659% 68.23956442831216%;  }
    50% { background-position: 20.58823529411765% 39.61965134706814%;  }
    55.55555555555556% { background-position: 64.13199426111908% 65.09598603839441%;  }
    61.111111111111114% { background-position: 99.92826398852223% 35.37653239929948%;  }
    66.66666666666666% { background-position: 92.89813486370157% 80.03144654088051%;  }
    72.22222222222221% { background-position: 49.07010014306152% 0.1865671641791045%;  }
    77.77777777777779% { background-position: 69.01140684410646% 34.80475382003396%;  }
    83.33333333333334% { background-position: 72.92929292929293% 0.18083182640144665%;  }
    88.88888888888889% { background-position: 99.92826398852223% 0.17985611510791366%;  }
    94.44444444444444% { background-position: 64.13199426111908% 96.36678200692042%;  }
}

.waec_physics_2018_paper_q-animation {
    max-width: 285px;
    max-height: 400px;
}
.waec_physics_2018_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 285px;
    height: 400px;
    padding: 0;
    background-image: url(waecphysics2018_0.png);
    background-size: 629.4736842105264% 189%; 
    animation-name: waec_physics_2018_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_physics_2018_paper_q-animation::after {
    max-width: 285px;
    width: 100%;
    height: 0;
    padding: 0 0 140.35087719298247% 0;
}

/* $TexturePacker:SmartUpdate:c69e1059ba3e0d289805af5a5ce7ebbe:5bc504cd948d92c2a1eba89bb920b9a6:4e6e01cee2db85d755a6a132e1e1ada6$ */
