/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_physics_2012_paper_q_2 {max-width:300px; max-height:223px; }
.waec_physics_2012_paper_q_2::after {content: '\00a0';display: inline-block; width:300px; height:223px; background-position: 0.11148272017837235% 7.142857142857143%; background-size: 399% 106.27802690582959%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_2::after {max-width:300px; width:100%;height:0;padding: 0 0 74.33333333333333% 0;}
.waec_physics_2012_paper_q_36 {max-width:300px; max-height:94px; }
.waec_physics_2012_paper_q_36::after {content: '\00a0';display: inline-block; width:300px; height:94px; background-position: 99.88851727982163% 0.6993006993006993%; background-size: 399% 252.12765957446808%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_36::after {max-width:300px; width:100%;height:0;padding: 0 0 31.333333333333332% 0;}
.waec_physics_2012_paper_q_49 {max-width:167px; max-height:120px; }
.waec_physics_2012_paper_q_49::after {content: '\00a0';display: inline-block; width:167px; height:120px; background-position: 91.55339805825243% 82.05128205128206%; background-size: 716.7664670658683% 197.5%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_49::after {max-width:167px; width:100%;height:0;padding: 0 0 71.8562874251497% 0;}
.waec_physics_2012_paper_q_55 {max-width:302px; max-height:113px; }
.waec_physics_2012_paper_q_55::after {content: '\00a0';display: inline-block; width:302px; height:113px; background-position: 71.50837988826815% 99.19354838709677%; background-size: 396.3576158940397% 209.73451327433628%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_55::after {max-width:302px; width:100%;height:0;padding: 0 0 37.41721854304636% 0;}
.waec_physics_2012_paper_q_58 {max-width:255px; max-height:121px; }
.waec_physics_2012_paper_q_58::after {content: '\00a0';display: inline-block; width:255px; height:121px; background-position: 67.94055201698514% 0.8620689655172413%; background-size: 469.4117647058824% 195.86776859504133%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_58::after {max-width:255px; width:100%;height:0;padding: 0 0 47.450980392156865% 0;}
.waec_physics_2012_paper_q_59 {max-width:337px; max-height:162px; }
.waec_physics_2012_paper_q_59::after {content: '\00a0';display: inline-block; width:337px; height:162px; background-position: 35.116279069767444% 1.3333333333333333%; background-size: 355.19287833827894% 146.2962962962963%; background-image: url(waecphysics2012_0.png);padding: 0; }
div.waec_physics_2012_paper_q_59::after {max-width:337px; width:100%;height:0;padding: 0 0 48.07121661721068% 0;}

@keyframes waec_physics_2012_paper_q-frames {
    0% { background-position: 0.11148272017837235% 7.142857142857143%;  }
    16.666666666666664% { background-position: 99.88851727982163% 0.6993006993006993%;  }
    33.33333333333333% { background-position: 91.55339805825243% 82.05128205128206%;  }
    50% { background-position: 71.50837988826815% 99.19354838709677%;  }
    66.66666666666666% { background-position: 67.94055201698514% 0.8620689655172413%;  }
    83.33333333333334% { background-position: 35.116279069767444% 1.3333333333333333%;  }
}

.waec_physics_2012_paper_q-animation {
    max-width: 300px;
    max-height: 223px;
}
.waec_physics_2012_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 223px;
    padding: 0;
    background-image: url(waecphysics2012_0.png);
    background-size: 399% 106.27802690582959%; 
    animation-name: waec_physics_2012_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_physics_2012_paper_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 74.33333333333333% 0;
}

/* $TexturePacker:SmartUpdate:223d446c3f3a85862222b8a8c6386fc6:ed883d5bdca9a1c3eaee62439773d965:3cd209ad6c5ada8f708af52312966aa9$ */
