/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_physics_2015_paper_q_17 {max-width:300px; max-height:192px; }
.waec_physics_2015_paper_q_17::after {content: '\00a0';display: inline-block; width:300px; height:192px; background-position: 0.1394700139470014% 99.78070175438596%; background-size: 339% 337.5%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_17::after {max-width:300px; width:100%;height:0;padding: 0 0 64% 0;}
.waec_physics_2015_paper_q_19 {max-width:300px; max-height:158px; }
.waec_physics_2015_paper_q_19::after {content: '\00a0';display: inline-block; width:300px; height:158px; background-position: 56.06694560669456% 63.46938775510204%; background-size: 339% 410.126582278481%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_19::after {max-width:300px; width:100%;height:0;padding: 0 0 52.666666666666664% 0;}
.waec_physics_2015_paper_q_20 {max-width:300px; max-height:157px; }
.waec_physics_2015_paper_q_20::after {content: '\00a0';display: inline-block; width:300px; height:157px; background-position: 57.88005578800558% 31.16089613034623%; background-size: 339% 412.7388535031847%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_20::after {max-width:300px; width:100%;height:0;padding: 0 0 52.333333333333336% 0;}
.waec_physics_2015_paper_q_21 {max-width:300px; max-height:157px; }
.waec_physics_2015_paper_q_21::after {content: '\00a0';display: inline-block; width:300px; height:157px; background-position: 57.88005578800558% 31.16089613034623%; background-size: 339% 412.7388535031847%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_21::after {max-width:300px; width:100%;height:0;padding: 0 0 52.333333333333336% 0;}
.waec_physics_2015_paper_q_25 {max-width:300px; max-height:102px; }
.waec_physics_2015_paper_q_25::after {content: '\00a0';display: inline-block; width:300px; height:102px; background-position: 98.04741980474198% 69.41391941391942%; background-size: 339% 635.2941176470588%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_25::after {max-width:300px; width:100%;height:0;padding: 0 0 34% 0;}
.waec_physics_2015_paper_q_34 {max-width:300px; max-height:159px; }
.waec_physics_2015_paper_q_34::after {content: '\00a0';display: inline-block; width:300px; height:159px; background-position: 84.10041841004184% 98.56850715746421%; background-size: 339% 407.54716981132077%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_34::after {max-width:300px; width:100%;height:0;padding: 0 0 53% 0;}
.waec_physics_2015_paper_q_39 {max-width:300px; max-height:151px; }
.waec_physics_2015_paper_q_39::after {content: '\00a0';display: inline-block; width:300px; height:151px; background-position: 65.69037656903765% 0.2012072434607646%; background-size: 339% 429.13907284768214%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_39::after {max-width:300px; width:100%;height:0;padding: 0 0 50.333333333333336% 0;}
.waec_physics_2015_paper_q_41 {max-width:300px; max-height:158px; }
.waec_physics_2015_paper_q_41::after {content: '\00a0';display: inline-block; width:300px; height:158px; background-position: 56.06694560669456% 63.46938775510204%; background-size: 339% 410.126582278481%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_41::after {max-width:300px; width:100%;height:0;padding: 0 0 52.666666666666664% 0;}
.waec_physics_2015_paper_q_44 {max-width:300px; max-height:177px; }
.waec_physics_2015_paper_q_44::after {content: '\00a0';display: inline-block; width:300px; height:177px; background-position: 42.11994421199442% 99.78768577494692%; background-size: 339% 366.10169491525426%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 59% 0;}
.waec_physics_2015_paper_q_55 {max-width:413px; max-height:165px; }
.waec_physics_2015_paper_q_55::after {content: '\00a0';display: inline-block; width:413px; height:165px; background-position: 0.16556291390728478% 24.43064182194617%; background-size: 246.24697336561744% 392.72727272727275%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_55::after {max-width:413px; width:100%;height:0;padding: 0 0 39.95157384987893% 0;}
.waec_physics_2015_paper_q_60 {max-width:237px; max-height:165px; }
.waec_physics_2015_paper_q_60::after {content: '\00a0';display: inline-block; width:237px; height:165px; background-position: 98.97435897435898% 0.2070393374741201%; background-size: 429.11392405063293% 392.72727272727275%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_60::after {max-width:237px; width:100%;height:0;padding: 0 0 69.62025316455696% 0;}
.waec_physics_2015_paper_q_61 {max-width:469px; max-height:116px; }
.waec_physics_2015_paper_q_61::after {content: '\00a0';display: inline-block; width:469px; height:116px; background-position: 0.18248175182481752% 0.18796992481203006%; background-size: 216.84434968017058% 558.6206896551724%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_61::after {max-width:469px; width:100%;height:0;padding: 0 0 24.733475479744136% 0;}
.waec_physics_2015_paper_q_64 {max-width:400px; max-height:170px; }
.waec_physics_2015_paper_q_64::after {content: '\00a0';display: inline-block; width:400px; height:170px; background-position: 0.1620745542949757% 59.41422594142259%; background-size: 254.25% 381.1764705882353%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_q_64::after {max-width:400px; width:100%;height:0;padding: 0 0 42.5% 0;}
.waec_physics_2015_paper_sol_50 {max-width:300px; max-height:211px; }
.waec_physics_2015_paper_sol_50::after {content: '\00a0';display: inline-block; width:300px; height:211px; background-position: 99.860529986053% 38.215102974828376%; background-size: 339% 307.1090047393365%; background-image: url(waecphysics2015_0.png);padding: 0; }
div.waec_physics_2015_paper_sol_50::after {max-width:300px; width:100%;height:0;padding: 0 0 70.33333333333333% 0;}

@keyframes waec_physics_2015_paper_q-frames {
    0% { background-position: 0.1394700139470014% 99.78070175438596%;  }
    7.6923076923076925% { background-position: 56.06694560669456% 63.46938775510204%;  }
    15.384615384615385% { background-position: 57.88005578800558% 31.16089613034623%;  }
    23.076923076923077% { background-position: 57.88005578800558% 31.16089613034623%;  }
    30.76923076923077% { background-position: 98.04741980474198% 69.41391941391942%;  }
    38.46153846153847% { background-position: 84.10041841004184% 98.56850715746421%;  }
    46.15384615384615% { background-position: 65.69037656903765% 0.2012072434607646%;  }
    53.84615384615385% { background-position: 56.06694560669456% 63.46938775510204%;  }
    61.53846153846154% { background-position: 42.11994421199442% 99.78768577494692%;  }
    69.23076923076923% { background-position: 0.16556291390728478% 24.43064182194617%;  }
    76.92307692307693% { background-position: 98.97435897435898% 0.2070393374741201%;  }
    84.61538461538461% { background-position: 0.18248175182481752% 0.18796992481203006%;  }
    92.3076923076923% { background-position: 0.1620745542949757% 59.41422594142259%;  }
}

.waec_physics_2015_paper_q-animation {
    max-width: 300px;
    max-height: 192px;
}
.waec_physics_2015_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 192px;
    padding: 0;
    background-image: url(waecphysics2015_0.png);
    background-size: 339% 337.5%; 
    animation-name: waec_physics_2015_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_physics_2015_paper_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 64% 0;
}

/* $TexturePacker:SmartUpdate:4ba7dd51b24f51633aa5e0783aed5e5b:46afee3b4b49e5f6e75dfa36e13773f6:bf05b10e9c6a014ab0d21fedf7acc07b$ */
