/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_agriculture_2023_paper_q_18 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_18::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_18::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_19 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_19::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_19::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_20 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_20::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_20::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_39 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_39::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.24813895781637718% 99.66996699669967%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_39::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_4 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_4::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.24813895781637718% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_4::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_40 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_40::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.24813895781637718% 99.66996699669967%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_40::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_42 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_42::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 99.66996699669967%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_42::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_43 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_43::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 99.66996699669967%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_43::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_44 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_44::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 99.75186104218362% 99.66996699669967%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_44::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_5 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_5::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.24813895781637718% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_5::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}
.waec_agriculture_2023_paper_q_6 {max-width:400px; max-height:300px; }
.waec_agriculture_2023_paper_q_6::after {content: '\00a0';display: inline-block; width:400px; height:300px; background-position: 0.24813895781637718% 0.33003300330033003%; background-size: 200.75% 201%; background-image: url(waecagri2023_0.png);padding: 0; }
div.waec_agriculture_2023_paper_q_6::after {max-width:400px; width:100%;height:0;padding: 0 0 75% 0;}

@keyframes waec_agriculture_2023_paper_q-frames {
    0% { background-position: 0.24813895781637718% 0.33003300330033003%;  }
    9.090909090909092% { background-position: 0.24813895781637718% 0.33003300330033003%;  }
    18.181818181818183% { background-position: 0.24813895781637718% 0.33003300330033003%;  }
    27.27272727272727% { background-position: 99.75186104218362% 0.33003300330033003%;  }
    36.36363636363637% { background-position: 99.75186104218362% 0.33003300330033003%;  }
    45.45454545454545% { background-position: 99.75186104218362% 0.33003300330033003%;  }
    54.54545454545454% { background-position: 0.24813895781637718% 99.66996699669967%;  }
    63.63636363636363% { background-position: 0.24813895781637718% 99.66996699669967%;  }
    72.72727272727273% { background-position: 99.75186104218362% 99.66996699669967%;  }
    81.81818181818183% { background-position: 99.75186104218362% 99.66996699669967%;  }
    90.9090909090909% { background-position: 99.75186104218362% 99.66996699669967%;  }
}

.waec_agriculture_2023_paper_q-animation {
    max-width: 400px;
    max-height: 300px;
}
.waec_agriculture_2023_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 300px;
    padding: 0;
    background-image: url(waecagri2023_0.png);
    background-size: 200.75% 201%; 
    animation-name: waec_agriculture_2023_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_agriculture_2023_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 75% 0;
}

/* $TexturePacker:SmartUpdate:54e596f6673931b27a84b77df1cf281f:43a9c7a3d0adc2dcb596c05919572496:70a28b897b60b45086b2004336fd60bd$ */
