/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_agricultural_science_2024_paper_q_11 {max-width:400px; max-height:363px; }
.waec_agricultural_science_2024_paper_q_11::after {content: '\00a0';display: inline-block; width:400px; height:363px; background-position: 97.27047146401985% 0.14836795252225518%; background-size: 200.75% 285.6749311294766%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_11::after {max-width:400px; width:100%;height:0;padding: 0 0 90.75% 0;}
.waec_agricultural_science_2024_paper_q_16 {max-width:400px; max-height:331px; }
.waec_agricultural_science_2024_paper_q_16::after {content: '\00a0';display: inline-block; width:400px; height:331px; background-position: 99.75186104218362% 99.85835694050992%; background-size: 200.75% 313.2930513595166%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_16::after {max-width:400px; width:100%;height:0;padding: 0 0 82.75% 0;}
.waec_agricultural_science_2024_paper_q_17 {max-width:400px; max-height:331px; }
.waec_agricultural_science_2024_paper_q_17::after {content: '\00a0';display: inline-block; width:400px; height:331px; background-position: 99.75186104218362% 99.85835694050992%; background-size: 200.75% 313.2930513595166%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_17::after {max-width:400px; width:100%;height:0;padding: 0 0 82.75% 0;}
.waec_agricultural_science_2024_paper_q_18 {max-width:400px; max-height:331px; }
.waec_agricultural_science_2024_paper_q_18::after {content: '\00a0';display: inline-block; width:400px; height:331px; background-position: 99.75186104218362% 99.85835694050992%; background-size: 200.75% 313.2930513595166%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_18::after {max-width:400px; width:100%;height:0;padding: 0 0 82.75% 0;}
.waec_agricultural_science_2024_paper_q_23 {max-width:400px; max-height:346px; }
.waec_agricultural_science_2024_paper_q_23::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 58.176555716353114%; background-size: 200.75% 299.71098265895955%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_23::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_agricultural_science_2024_paper_q_24 {max-width:400px; max-height:346px; }
.waec_agricultural_science_2024_paper_q_24::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 58.176555716353114%; background-size: 200.75% 299.71098265895955%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_24::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_agricultural_science_2024_paper_q_25 {max-width:400px; max-height:346px; }
.waec_agricultural_science_2024_paper_q_25::after {content: '\00a0';display: inline-block; width:400px; height:346px; background-position: 0.24813895781637718% 58.176555716353114%; background-size: 200.75% 299.71098265895955%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_25::after {max-width:400px; width:100%;height:0;padding: 0 0 86.5% 0;}
.waec_agricultural_science_2024_paper_q_32 {max-width:400px; max-height:287px; }
.waec_agricultural_science_2024_paper_q_32::after {content: '\00a0';display: inline-block; width:400px; height:287px; background-position: 0.24813895781637718% 99.86666666666666%; background-size: 200.75% 361.3240418118467%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_32::after {max-width:400px; width:100%;height:0;padding: 0 0 71.75% 0;}
.waec_agricultural_science_2024_paper_q_40 {max-width:400px; max-height:339px; }
.waec_agricultural_science_2024_paper_q_40::after {content: '\00a0';display: inline-block; width:400px; height:339px; background-position: 99.75186104218362% 52.29226361031519%; background-size: 200.75% 305.89970501474926%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_40::after {max-width:400px; width:100%;height:0;padding: 0 0 84.75% 0;}
.waec_agricultural_science_2024_paper_q_6 {max-width:390px; max-height:400px; }
.waec_agricultural_science_2024_paper_q_6::after {content: '\00a0';display: inline-block; width:390px; height:400px; background-position: 0.24213075060532688% 0.15698587127158556%; background-size: 205.89743589743588% 259.25%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_6::after {max-width:390px; width:100%;height:0;padding: 0 0 102.56410256410257% 0;}
.waec_agricultural_science_2024_paper_q_7 {max-width:390px; max-height:400px; }
.waec_agricultural_science_2024_paper_q_7::after {content: '\00a0';display: inline-block; width:390px; height:400px; background-position: 0.24213075060532688% 0.15698587127158556%; background-size: 205.89743589743588% 259.25%; background-image: url(waecagri2024_0.png);padding: 0; }
div.waec_agricultural_science_2024_paper_q_7::after {max-width:390px; width:100%;height:0;padding: 0 0 102.56410256410257% 0;}

@keyframes waec_agricultural_science_2024_paper_q-frames {
    0% { background-position: 0.24213075060532688% 0.15698587127158556%;  }
    9.090909090909092% { background-position: 0.24213075060532688% 0.15698587127158556%;  }
    18.181818181818183% { background-position: 97.27047146401985% 0.14836795252225518%;  }
    27.27272727272727% { background-position: 99.75186104218362% 99.85835694050992%;  }
    36.36363636363637% { background-position: 99.75186104218362% 99.85835694050992%;  }
    45.45454545454545% { background-position: 99.75186104218362% 99.85835694050992%;  }
    54.54545454545454% { background-position: 0.24813895781637718% 58.176555716353114%;  }
    63.63636363636363% { background-position: 0.24813895781637718% 58.176555716353114%;  }
    72.72727272727273% { background-position: 0.24813895781637718% 58.176555716353114%;  }
    81.81818181818183% { background-position: 0.24813895781637718% 99.86666666666666%;  }
    90.9090909090909% { background-position: 99.75186104218362% 52.29226361031519%;  }
}

.waec_agricultural_science_2024_paper_q-animation {
    max-width: 390px;
    max-height: 400px;
}
.waec_agricultural_science_2024_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 390px;
    height: 400px;
    padding: 0;
    background-image: url(waecagri2024_0.png);
    background-size: 205.89743589743588% 259.25%; 
    animation-name: waec_agricultural_science_2024_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_agricultural_science_2024_paper_q-animation::after {
    max-width: 390px;
    width: 100%;
    height: 0;
    padding: 0 0 102.56410256410257% 0;
}

/* $TexturePacker:SmartUpdate:78562c47a113e555bea914d4496c9176:e20e9cbe03c06a19bd37228b220f0f0d:e58bb00f53359b0e2c92fafe571648e4$ */
