/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2020_paper_q_17 {max-width:339px; max-height:227px; }
.jamb_mathematics_2020_paper_q_17::after {content: '\00a0';display: inline-block; width:339px; height:227px; background-position: 33.46153846153846% 96.32446134347275%; background-size: 406.7846607669617% 447.57709251101323%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_q_17::after {max-width:339px; width:100%;height:0;padding: 0 0 66.96165191740413% 0;}
.jamb_mathematics_2020_paper_q_23 {max-width:346px; max-height:255px; }
.jamb_mathematics_2020_paper_q_23::after {content: '\00a0';display: inline-block; width:346px; height:255px; background-position: 0.0968054211035818% 99.86859395532194%; background-size: 398.5549132947977% 398.4313725490196%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_q_23::after {max-width:346px; width:100%;height:0;padding: 0 0 73.69942196531792% 0;}
.jamb_mathematics_2020_paper_q_27 {max-width:289px; max-height:276px; }
.jamb_mathematics_2020_paper_q_27::after {content: '\00a0';display: inline-block; width:289px; height:276px; background-position: 99.90825688073394% 92.70270270270271%; background-size: 477.16262975778545% 368.1159420289855%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_q_27::after {max-width:289px; width:100%;height:0;padding: 0 0 95.50173010380622% 0;}
.jamb_mathematics_2020_paper_sol_14 {max-width:400px; max-height:384px; }
.jamb_mathematics_2020_paper_sol_14::after {content: '\00a0';display: inline-block; width:400px; height:384px; background-position: 0.10214504596527069% 0.15822784810126583%; background-size: 344.75% 264.5833333333333%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_14::after {max-width:400px; width:100%;height:0;padding: 0 0 96% 0;}
.jamb_mathematics_2020_paper_sol_17 {max-width:400px; max-height:296px; }
.jamb_mathematics_2020_paper_sol_17::after {content: '\00a0';display: inline-block; width:400px; height:296px; background-position: 41.062308478038815% 55.833333333333336%; background-size: 344.75% 343.2432432432432%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_17::after {max-width:400px; width:100%;height:0;padding: 0 0 74% 0;}
.jamb_mathematics_2020_paper_sol_23 {max-width:400px; max-height:283px; }
.jamb_mathematics_2020_paper_sol_23::after {content: '\00a0';display: inline-block; width:400px; height:283px; background-position: 82.02247191011236% 54.8431105047749%; background-size: 344.75% 359.0106007067138%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_23::after {max-width:400px; width:100%;height:0;padding: 0 0 70.75% 0;}
.jamb_mathematics_2020_paper_sol_25 {max-width:274px; max-height:400px; }
.jamb_mathematics_2020_paper_sol_25::after {content: '\00a0';display: inline-block; width:274px; height:400px; background-position: 94.84162895927602% 0.16233766233766234%; background-size: 503.2846715328467% 254%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_25::after {max-width:274px; width:100%;height:0;padding: 0 0 145.98540145985402% 0;}
.jamb_mathematics_2020_paper_sol_31 {max-width:313px; max-height:400px; }
.jamb_mathematics_2020_paper_sol_31::after {content: '\00a0';display: inline-block; width:313px; height:400px; background-position: 68.85553470919325% 0.16233766233766234%; background-size: 440.57507987220447% 254%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_31::after {max-width:313px; width:100%;height:0;padding: 0 0 127.79552715654953% 0;}
.jamb_mathematics_2020_paper_sol_33 {max-width:331px; max-height:400px; }
.jamb_mathematics_2020_paper_sol_33::after {content: '\00a0';display: inline-block; width:331px; height:400px; background-position: 38.3587786259542% 0.16233766233766234%; background-size: 416.6163141993958% 254%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_33::after {max-width:331px; width:100%;height:0;padding: 0 0 120.84592145015105% 0;}
.jamb_mathematics_2020_paper_sol_36 {max-width:400px; max-height:291px; }
.jamb_mathematics_2020_paper_sol_36::after {content: '\00a0';display: inline-block; width:400px; height:291px; background-position: 70.27579162410623% 96.41379310344827%; background-size: 344.75% 349.1408934707904%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_36::after {max-width:400px; width:100%;height:0;padding: 0 0 72.75% 0;}
.jamb_mathematics_2020_paper_sol_39 {max-width:400px; max-height:373px; }
.jamb_mathematics_2020_paper_sol_39::after {content: '\00a0';display: inline-block; width:400px; height:373px; background-position: 0.10214504596527069% 60.031104199066874%; background-size: 344.75% 272.38605898123325%; background-image: url(jambmath2020_0.png);padding: 0; }
div.jamb_mathematics_2020_paper_sol_39::after {max-width:400px; width:100%;height:0;padding: 0 0 93.25% 0;}

@keyframes jamb_mathematics_2020_paper_q-frames {
    0% { background-position: 33.46153846153846% 96.32446134347275%;  }
    33.33333333333333% { background-position: 0.0968054211035818% 99.86859395532194%;  }
    66.66666666666666% { background-position: 99.90825688073394% 92.70270270270271%;  }
}

.jamb_mathematics_2020_paper_q-animation {
    max-width: 339px;
    max-height: 227px;
}
.jamb_mathematics_2020_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 339px;
    height: 227px;
    padding: 0;
    background-image: url(jambmath2020_0.png);
    background-size: 406.7846607669617% 447.57709251101323%; 
    animation-name: jamb_mathematics_2020_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2020_paper_q-animation::after {
    max-width: 339px;
    width: 100%;
    height: 0;
    padding: 0 0 66.96165191740413% 0;
}

@keyframes jamb_mathematics_2020_paper_sol-frames {
    0% { background-position: 0.10214504596527069% 0.15822784810126583%;  }
    12.5% { background-position: 41.062308478038815% 55.833333333333336%;  }
    25% { background-position: 82.02247191011236% 54.8431105047749%;  }
    37.5% { background-position: 94.84162895927602% 0.16233766233766234%;  }
    50% { background-position: 68.85553470919325% 0.16233766233766234%;  }
    62.5% { background-position: 38.3587786259542% 0.16233766233766234%;  }
    75% { background-position: 70.27579162410623% 96.41379310344827%;  }
    87.5% { background-position: 0.10214504596527069% 60.031104199066874%;  }
}

.jamb_mathematics_2020_paper_sol-animation {
    max-width: 400px;
    max-height: 384px;
}
.jamb_mathematics_2020_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 384px;
    padding: 0;
    background-image: url(jambmath2020_0.png);
    background-size: 344.75% 264.5833333333333%; 
    animation-name: jamb_mathematics_2020_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2020_paper_sol-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 96% 0;
}

/* $TexturePacker:SmartUpdate:e20c15b980b7f242df91288cb75a5d59:25b409ba2d7acd4112aa3539d57a64c6:b3ca3b20be6be1082c82e78cc1326cef$ */
