/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2018_paper_q_15 {max-width:375px; max-height:134px; }
.jamb_mathematics_2018_paper_q_15::after {content: '\00a0';display: inline-block; width:375px; height:134px; background-position: 28.230337078651687% 99.73045822102426%; background-size: 479.73333333333335% 376.86567164179104%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_15::after {max-width:375px; width:100%;height:0;padding: 0 0 35.733333333333334% 0;}
.jamb_mathematics_2018_paper_q_23 {max-width:368px; max-height:368px; }
.jamb_mathematics_2018_paper_q_23::after {content: '\00a0';display: inline-block; width:368px; height:368px; background-position: 28.09224318658281% 0.7299270072992701%; background-size: 488.85869565217394% 137.22826086956522%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_23::after {max-width:368px; width:100%;height:0;padding: 0 0 100% 0;}
.jamb_mathematics_2018_paper_q_3 {max-width:335px; max-height:318px; }
.jamb_mathematics_2018_paper_q_3::after {content: '\00a0';display: inline-block; width:335px; height:318px; background-position: 77.80054644808743% 0.5347593582887701%; background-size: 537.0149253731344% 158.80503144654088%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_3::after {max-width:335px; width:100%;height:0;padding: 0 0 94.92537313432835% 0;}
.jamb_mathematics_2018_paper_q_34 {max-width:215px; max-height:159px; }
.jamb_mathematics_2018_paper_q_34::after {content: '\00a0';display: inline-block; width:215px; height:159px; background-position: 85.73232323232324% 92.48554913294798%; background-size: 836.7441860465116% 317.61006289308176%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_34::after {max-width:215px; width:100%;height:0;padding: 0 0 73.95348837209302% 0;}
.jamb_mathematics_2018_paper_q_38 {max-width:323px; max-height:291px; }
.jamb_mathematics_2018_paper_q_38::after {content: '\00a0';display: inline-block; width:323px; height:291px; background-position: 99.93224932249322% 0.4672897196261682%; background-size: 556.9659442724458% 173.53951890034364%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_38::after {max-width:323px; width:100%;height:0;padding: 0 0 90.09287925696594% 0;}
.jamb_mathematics_2018_paper_q_41 {max-width:400px; max-height:90px; }
.jamb_mathematics_2018_paper_q_41::after {content: '\00a0';display: inline-block; width:400px; height:90px; background-position: 0.07147962830593281% 96.86746987951807%; background-size: 449.75% 561.1111111111111%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_41::after {max-width:400px; width:100%;height:0;padding: 0 0 22.5% 0;}
.jamb_mathematics_2018_paper_q_42 {max-width:190px; max-height:144px; }
.jamb_mathematics_2018_paper_q_42::after {content: '\00a0';display: inline-block; width:190px; height:144px; background-position: 97.8247358607831% 81.16343490304709%; background-size: 946.8421052631579% 350.69444444444446%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_42::after {max-width:190px; width:100%;height:0;padding: 0 0 75.78947368421052% 0;}
.jamb_mathematics_2018_paper_q_46 {max-width:400px; max-height:90px; }
.jamb_mathematics_2018_paper_q_46::after {content: '\00a0';display: inline-block; width:400px; height:90px; background-position: 0.07147962830593281% 96.86746987951807%; background-size: 449.75% 561.1111111111111%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_46::after {max-width:400px; width:100%;height:0;padding: 0 0 22.5% 0;}
.jamb_mathematics_2018_paper_q_55 {max-width:190px; max-height:144px; }
.jamb_mathematics_2018_paper_q_55::after {content: '\00a0';display: inline-block; width:190px; height:144px; background-position: 97.8247358607831% 81.16343490304709%; background-size: 946.8421052631579% 350.69444444444446%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_55::after {max-width:190px; width:100%;height:0;padding: 0 0 75.78947368421052% 0;}
.jamb_mathematics_2018_paper_q_6 {max-width:367px; max-height:368px; }
.jamb_mathematics_2018_paper_q_6::after {content: '\00a0';display: inline-block; width:367px; height:368px; background-position: 53.840782122905026% 0.7299270072992701%; background-size: 490.1907356948229% 137.22826086956522%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_q_6::after {max-width:367px; width:100%;height:0;padding: 0 0 100.2724795640327% 0;}
.jamb_mathematics_2018_paper_sol_53 {max-width:218px; max-height:184px; }
.jamb_mathematics_2018_paper_sol_53::after {content: '\00a0';display: inline-block; width:218px; height:184px; background-position: 72.04301075268818% 99.68847352024922%; background-size: 825.2293577981651% 274.45652173913044%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_sol_53::after {max-width:218px; width:100%;height:0;padding: 0 0 84.40366972477064% 0;}
.jamb_mathematics_2018_paper_sol_59 {max-width:400px; max-height:400px; }
.jamb_mathematics_2018_paper_sol_59::after {content: '\00a0';display: inline-block; width:400px; height:400px; background-position: 0.07147962830593281% 0.9523809523809523%; background-size: 449.75% 126.25%; background-image: url(jambmath2018_0.png);padding: 0; }
div.jamb_mathematics_2018_paper_sol_59::after {max-width:400px; width:100%;height:0;padding: 0 0 100% 0;}

@keyframes jamb_mathematics_2018_paper_q-frames {
    0% { background-position: 77.80054644808743% 0.5347593582887701%;  }
    10% { background-position: 53.840782122905026% 0.7299270072992701%;  }
    20% { background-position: 28.230337078651687% 99.73045822102426%;  }
    30% { background-position: 28.09224318658281% 0.7299270072992701%;  }
    40% { background-position: 85.73232323232324% 92.48554913294798%;  }
    50% { background-position: 99.93224932249322% 0.4672897196261682%;  }
    60% { background-position: 0.07147962830593281% 96.86746987951807%;  }
    70% { background-position: 97.8247358607831% 81.16343490304709%;  }
    80% { background-position: 0.07147962830593281% 96.86746987951807%;  }
    90% { background-position: 97.8247358607831% 81.16343490304709%;  }
}

.jamb_mathematics_2018_paper_q-animation {
    max-width: 335px;
    max-height: 318px;
}
.jamb_mathematics_2018_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 335px;
    height: 318px;
    padding: 0;
    background-image: url(jambmath2018_0.png);
    background-size: 537.0149253731344% 158.80503144654088%; 
    animation-name: jamb_mathematics_2018_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2018_paper_q-animation::after {
    max-width: 335px;
    width: 100%;
    height: 0;
    padding: 0 0 94.92537313432835% 0;
}

@keyframes jamb_mathematics_2018_paper_sol-frames {
    0% { background-position: 72.04301075268818% 99.68847352024922%;  }
    50% { background-position: 0.07147962830593281% 0.9523809523809523%;  }
}

.jamb_mathematics_2018_paper_sol-animation {
    max-width: 218px;
    max-height: 184px;
}
.jamb_mathematics_2018_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 218px;
    height: 184px;
    padding: 0;
    background-image: url(jambmath2018_0.png);
    background-size: 825.2293577981651% 274.45652173913044%; 
    animation-name: jamb_mathematics_2018_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2018_paper_sol-animation::after {
    max-width: 218px;
    width: 100%;
    height: 0;
    padding: 0 0 84.40366972477064% 0;
}

/* $TexturePacker:SmartUpdate:7c5ae41eac430ff41f9e097fcb3603b1:f5bd24b27ac452805460500ccb6f2cdc:eade5c5a24fe520d4c0d16043fbed6c0$ */
