/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2017_paper_q_13 {max-width:265px; max-height:169px; }
.jamb_mathematics_2017_paper_q_13::after {content: '\00a0';display: inline-block; width:265px; height:169px; background-position: 43.6834094368341% 99.74025974025975%; background-size: 347.92452830188677% 327.81065088757396%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_13::after {max-width:265px; width:100%;height:0;padding: 0 0 63.77358490566038% 0;}
.jamb_mathematics_2017_paper_q_16 {max-width:227px; max-height:135px; }
.jamb_mathematics_2017_paper_q_16::after {content: '\00a0';display: inline-block; width:227px; height:135px; background-position: 79.56834532374101% 95.22673031026252%; background-size: 406.1674008810573% 410.3703703703704%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_16::after {max-width:227px; width:100%;height:0;padding: 0 0 59.47136563876652% 0;}
.jamb_mathematics_2017_paper_q_22 {max-width:140px; max-height:145px; }
.jamb_mathematics_2017_paper_q_22::after {content: '\00a0';display: inline-block; width:140px; height:145px; background-position: 99.87212276214834% 97.55501222493888%; background-size: 658.5714285714286% 382.0689655172414%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_22::after {max-width:140px; width:100%;height:0;padding: 0 0 103.57142857142857% 0;}
.jamb_mathematics_2017_paper_q_29 {max-width:285px; max-height:246px; }
.jamb_mathematics_2017_paper_q_29::after {content: '\00a0';display: inline-block; width:285px; height:246px; background-position: 0.15698587127158556% 98.05194805194805%; background-size: 323.50877192982455% 225.20325203252034%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_29::after {max-width:285px; width:100%;height:0;padding: 0 0 86.3157894736842% 0;}
.jamb_mathematics_2017_paper_q_35 {max-width:230px; max-height:224px; }
.jamb_mathematics_2017_paper_q_35::after {content: '\00a0';display: inline-block; width:230px; height:224px; background-position: 87.13872832369943% 52.72727272727273%; background-size: 400.8695652173913% 247.32142857142858%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_35::after {max-width:230px; width:100%;height:0;padding: 0 0 97.3913043478261% 0;}
.jamb_mathematics_2017_paper_q_6 {max-width:300px; max-height:172px; }
.jamb_mathematics_2017_paper_q_6::after {content: '\00a0';display: inline-block; width:300px; height:172px; background-position: 96.94533762057878% 0.2617801047120419%; background-size: 307.3333333333333% 322.09302325581393%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_q_6::after {max-width:300px; width:100%;height:0;padding: 0 0 57.333333333333336% 0;}
.jamb_mathematics_2017_paper_sol_29 {max-width:300px; max-height:209px; }
.jamb_mathematics_2017_paper_sol_29::after {content: '\00a0';display: inline-block; width:300px; height:209px; background-position: 48.553054662379424% 0.2898550724637681%; background-size: 307.3333333333333% 265.0717703349282%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_sol_29::after {max-width:300px; width:100%;height:0;padding: 0 0 69.66666666666667% 0;}
.jamb_mathematics_2017_paper_sol_35 {max-width:300px; max-height:300px; }
.jamb_mathematics_2017_paper_sol_35::after {content: '\00a0';display: inline-block; width:300px; height:300px; background-position: 0.1607717041800643% 0.3937007874015748%; background-size: 307.3333333333333% 184.66666666666666%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_sol_35::after {max-width:300px; width:100%;height:0;padding: 0 0 100% 0;}
.jamb_mathematics_2017_paper_sol_6 {max-width:300px; max-height:172px; }
.jamb_mathematics_2017_paper_sol_6::after {content: '\00a0';display: inline-block; width:300px; height:172px; background-position: 48.553054662379424% 55.23560209424084%; background-size: 307.3333333333333% 322.09302325581393%; background-image: url(jambmath2017_0.png);padding: 0; }
div.jamb_mathematics_2017_paper_sol_6::after {max-width:300px; width:100%;height:0;padding: 0 0 57.333333333333336% 0;}

@keyframes jamb_mathematics_2017_paper_q-frames {
    0% { background-position: 96.94533762057878% 0.2617801047120419%;  }
    16.666666666666664% { background-position: 43.6834094368341% 99.74025974025975%;  }
    33.33333333333333% { background-position: 79.56834532374101% 95.22673031026252%;  }
    50% { background-position: 99.87212276214834% 97.55501222493888%;  }
    66.66666666666666% { background-position: 0.15698587127158556% 98.05194805194805%;  }
    83.33333333333334% { background-position: 87.13872832369943% 52.72727272727273%;  }
}

.jamb_mathematics_2017_paper_q-animation {
    max-width: 300px;
    max-height: 172px;
}
.jamb_mathematics_2017_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 172px;
    padding: 0;
    background-image: url(jambmath2017_0.png);
    background-size: 307.3333333333333% 322.09302325581393%; 
    animation-name: jamb_mathematics_2017_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2017_paper_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 57.333333333333336% 0;
}

@keyframes jamb_mathematics_2017_paper_sol-frames {
    0% { background-position: 48.553054662379424% 55.23560209424084%;  }
    33.33333333333333% { background-position: 48.553054662379424% 0.2898550724637681%;  }
    66.66666666666666% { background-position: 0.1607717041800643% 0.3937007874015748%;  }
}

.jamb_mathematics_2017_paper_sol-animation {
    max-width: 300px;
    max-height: 172px;
}
.jamb_mathematics_2017_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 172px;
    padding: 0;
    background-image: url(jambmath2017_0.png);
    background-size: 307.3333333333333% 322.09302325581393%; 
    animation-name: jamb_mathematics_2017_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2017_paper_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 57.333333333333336% 0;
}

/* $TexturePacker:SmartUpdate:e14afcdfb30cca0da893f769aeb682d4:dce4d245ce0bbd1017317b8d0b1a1c9a:5aa70b6228422150b79e8a205579f357$ */
