/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2022_paper_q_12 {max-width:240px; max-height:201px; }
.jamb_mathematics_2022_paper_q_12::after {content: '\00a0';display: inline-block; width:240px; height:201px; background-position: 0.37037037037037035% 54.66377440347072%; background-size: 212.5% 329.3532338308458%; background-image: url(jambmath2022_0.png);padding: 0; }
div.jamb_mathematics_2022_paper_q_12::after {max-width:240px; width:100%;height:0;padding: 0 0 83.75% 0;}
.jamb_mathematics_2022_paper_q_3 {max-width:227px; max-height:206px; }
.jamb_mathematics_2022_paper_q_3::after {content: '\00a0';display: inline-block; width:227px; height:206px; background-position: 85.51236749116607% 55.26315789473684%; background-size: 224.66960352422907% 321.3592233009709%; background-image: url(jambmath2022_0.png);padding: 0; }
div.jamb_mathematics_2022_paper_q_3::after {max-width:227px; width:100%;height:0;padding: 0 0 90.7488986784141% 0;}
.jamb_mathematics_2022_paper_q_31 {max-width:196px; max-height:207px; }
.jamb_mathematics_2022_paper_q_31::after {content: '\00a0';display: inline-block; width:196px; height:207px; background-position: 0.3184713375796178% 99.78021978021978%; background-size: 260.2040816326531% 319.80676328502415%; background-image: url(jambmath2022_0.png);padding: 0; }
div.jamb_mathematics_2022_paper_q_31::after {max-width:196px; width:100%;height:0;padding: 0 0 105.61224489795919% 0;}
.jamb_mathematics_2022_paper_q_39 {max-width:311px; max-height:135px; }
.jamb_mathematics_2022_paper_q_39::after {content: '\00a0';display: inline-block; width:311px; height:135px; background-position: 99.49748743718592% 87.09677419354838%; background-size: 163.9871382636656% 490.3703703703704%; background-image: url(jambmath2022_0.png);padding: 0; }
div.jamb_mathematics_2022_paper_q_39::after {max-width:311px; width:100%;height:0;padding: 0 0 43.40836012861736% 0;}
.jamb_mathematics_2022_paper_sol_4 {max-width:457px; max-height:250px; }
.jamb_mathematics_2022_paper_sol_4::after {content: '\00a0';display: inline-block; width:457px; height:250px; background-position: 1.8867924528301887% 0.24271844660194175%; background-size: 111.59737417943107% 264.8%; background-image: url(jambmath2022_0.png);padding: 0; }
div.jamb_mathematics_2022_paper_sol_4::after {max-width:457px; width:100%;height:0;padding: 0 0 54.70459518599562% 0;}

@keyframes jamb_mathematics_2022_paper_q-frames {
    0% { background-position: 85.51236749116607% 55.26315789473684%;  }
    25% { background-position: 0.37037037037037035% 54.66377440347072%;  }
    50% { background-position: 0.3184713375796178% 99.78021978021978%;  }
    75% { background-position: 99.49748743718592% 87.09677419354838%;  }
}

.jamb_mathematics_2022_paper_q-animation {
    max-width: 227px;
    max-height: 206px;
}
.jamb_mathematics_2022_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 227px;
    height: 206px;
    padding: 0;
    background-image: url(jambmath2022_0.png);
    background-size: 224.66960352422907% 321.3592233009709%; 
    animation-name: jamb_mathematics_2022_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2022_paper_q-animation::after {
    max-width: 227px;
    width: 100%;
    height: 0;
    padding: 0 0 90.7488986784141% 0;
}

/* $TexturePacker:SmartUpdate:269f1da5094503cfdad3a4dfd43d041c:44158da4121470d052819891180fafe7:fb3f376f12a1624bb64c947da9b99741$ */
