/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2019_paper_q_17 {max-width:280px; max-height:290px; }
.jamb_mathematics_2019_paper_q_17::after {content: '\00a0';display: inline-block; width:280px; height:290px; background-position: 99.31318681318682% 0.13869625520110956%; background-size: 360% 348.62068965517244%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_17::after {max-width:280px; width:100%;height:0;padding: 0 0 103.57142857142857% 0;}
.jamb_mathematics_2019_paper_q_19 {max-width:360px; max-height:163px; }
.jamb_mathematics_2019_paper_q_19::after {content: '\00a0';display: inline-block; width:360px; height:163px; background-position: 55.864197530864196% 77.83018867924528%; background-size: 280% 620.2453987730062%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_19::after {max-width:360px; width:100%;height:0;padding: 0 0 45.27777777777778% 0;}
.jamb_mathematics_2019_paper_q_45 {max-width:360px; max-height:368px; }
.jamb_mathematics_2019_paper_q_45::after {content: '\00a0';display: inline-block; width:360px; height:368px; background-position: 0.15432098765432098% 58.631415241057546%; background-size: 280% 274.7282608695652%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_45::after {max-width:360px; width:100%;height:0;padding: 0 0 102.22222222222223% 0;}
.jamb_mathematics_2019_paper_q_7 {max-width:360px; max-height:366px; }
.jamb_mathematics_2019_paper_q_7::after {content: '\00a0';display: inline-block; width:360px; height:366px; background-position: 55.864197530864196% 0.15503875968992248%; background-size: 280% 276.2295081967213%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_7::after {max-width:360px; width:100%;height:0;padding: 0 0 101.66666666666667% 0;}
.jamb_mathematics_2019_paper_q_76 {max-width:360px; max-height:291px; }
.jamb_mathematics_2019_paper_q_76::after {content: '\00a0';display: inline-block; width:360px; height:291px; background-position: 55.864197530864196% 51.111111111111114%; background-size: 280% 347.4226804123711%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_76::after {max-width:360px; width:100%;height:0;padding: 0 0 80.83333333333333% 0;}
.jamb_mathematics_2019_paper_q_77 {max-width:154px; max-height:146px; }
.jamb_mathematics_2019_paper_q_77::after {content: '\00a0';display: inline-block; width:154px; height:146px; background-position: 84.66042154566745% 82.19653179190752%; background-size: 654.5454545454545% 692.4657534246576%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_77::after {max-width:154px; width:100%;height:0;padding: 0 0 94.8051948051948% 0;}
.jamb_mathematics_2019_paper_q_78 {max-width:313px; max-height:264px; }
.jamb_mathematics_2019_paper_q_78::after {content: '\00a0';display: inline-block; width:313px; height:264px; background-position: 0.14388489208633093% 99.8661311914324%; background-size: 322.0447284345048% 382.95454545454544%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_q_78::after {max-width:313px; width:100%;height:0;padding: 0 0 84.34504792332268% 0;}
.jamb_mathematics_2019_paper_sol_10 {max-width:365px; max-height:170px; }
.jamb_mathematics_2019_paper_sol_10::after {content: '\00a0';display: inline-block; width:365px; height:170px; background-position: 48.98911353032659% 97.97859690844233%; background-size: 276.16438356164383% 594.7058823529412%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_sol_10::after {max-width:365px; width:100%;height:0;padding: 0 0 46.57534246575342% 0;}
.jamb_mathematics_2019_paper_sol_2 {max-width:360px; max-height:375px; }
.jamb_mathematics_2019_paper_sol_2::after {content: '\00a0';display: inline-block; width:360px; height:375px; background-position: 0.15432098765432098% 0.15723270440251572%; background-size: 280% 269.6%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_sol_2::after {max-width:360px; width:100%;height:0;padding: 0 0 104.16666666666667% 0;}
.jamb_mathematics_2019_paper_sol_43 {max-width:284px; max-height:229px; }
.jamb_mathematics_2019_paper_sol_43::after {content: '\00a0';display: inline-block; width:284px; height:229px; background-position: 99.86187845303867% 37.34015345268542%; background-size: 354.92957746478874% 441.48471615720524%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_sol_43::after {max-width:284px; width:100%;height:0;padding: 0 0 80.63380281690141% 0;}
.jamb_mathematics_2019_paper_sol_45 {max-width:197px; max-height:188px; }
.jamb_mathematics_2019_paper_sol_45::after {content: '\00a0';display: inline-block; width:197px; height:188px; background-position: 89.14919852034525% 63.42648845686513%; background-size: 511.6751269035533% 537.7659574468086%; background-image: url(jambmath2019_0.png);padding: 0; }
div.jamb_mathematics_2019_paper_sol_45::after {max-width:197px; width:100%;height:0;padding: 0 0 95.43147208121827% 0;}

@keyframes jamb_mathematics_2019_paper_q-frames {
    0% { background-position: 55.864197530864196% 0.15503875968992248%;  }
    14.285714285714285% { background-position: 99.31318681318682% 0.13869625520110956%;  }
    28.57142857142857% { background-position: 55.864197530864196% 77.83018867924528%;  }
    42.857142857142854% { background-position: 0.15432098765432098% 58.631415241057546%;  }
    57.14285714285714% { background-position: 55.864197530864196% 51.111111111111114%;  }
    71.42857142857143% { background-position: 84.66042154566745% 82.19653179190752%;  }
    85.71428571428571% { background-position: 0.14388489208633093% 99.8661311914324%;  }
}

.jamb_mathematics_2019_paper_q-animation {
    max-width: 360px;
    max-height: 366px;
}
.jamb_mathematics_2019_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 366px;
    padding: 0;
    background-image: url(jambmath2019_0.png);
    background-size: 280% 276.2295081967213%; 
    animation-name: jamb_mathematics_2019_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2019_paper_q-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 101.66666666666667% 0;
}

@keyframes jamb_mathematics_2019_paper_sol-frames {
    0% { background-position: 0.15432098765432098% 0.15723270440251572%;  }
    25% { background-position: 48.98911353032659% 97.97859690844233%;  }
    50% { background-position: 99.86187845303867% 37.34015345268542%;  }
    75% { background-position: 89.14919852034525% 63.42648845686513%;  }
}

.jamb_mathematics_2019_paper_sol-animation {
    max-width: 360px;
    max-height: 375px;
}
.jamb_mathematics_2019_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 360px;
    height: 375px;
    padding: 0;
    background-image: url(jambmath2019_0.png);
    background-size: 280% 269.6%; 
    animation-name: jamb_mathematics_2019_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2019_paper_sol-animation::after {
    max-width: 360px;
    width: 100%;
    height: 0;
    padding: 0 0 104.16666666666667% 0;
}

/* $TexturePacker:SmartUpdate:68cabd72961c188ff3ef444ea067f190:a44e0eaddf1bfe09d45c459faf0f23ce:e6a98d606b982856eaaf052bfab9a18c$ */
