/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_mathematics_2010_paper_q_10 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_q_10::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 0.16556291390728478% 0.49261083743842365%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_q_10::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jamb_mathematics_2010_paper_q_11 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_q_11::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 0.16556291390728478% 99.50738916256158%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_q_11::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jamb_mathematics_2010_paper_q_15 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_q_15::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 50% 0.49261083743842365%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_q_15::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jamb_mathematics_2010_paper_sol_12 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_sol_12::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 99.83443708609272% 0.49261083743842365%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_sol_12::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jamb_mathematics_2010_paper_sol_14 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_sol_14::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 99.83443708609272% 99.50738916256158%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_sol_14::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}
.jamb_mathematics_2010_paper_sol_4 {max-width:300px; max-height:200px; }
.jamb_mathematics_2010_paper_sol_4::after {content: '\00a0';display: inline-block; width:300px; height:200px; background-position: 50% 99.50738916256158%; background-size: 301.3333333333333% 201.5%; background-image: url(jambmath2010_0.png);padding: 0; }
div.jamb_mathematics_2010_paper_sol_4::after {max-width:300px; width:100%;height:0;padding: 0 0 66.66666666666667% 0;}

@keyframes jamb_mathematics_2010_paper_q-frames {
    0% { background-position: 0.16556291390728478% 0.49261083743842365%;  }
    33.33333333333333% { background-position: 0.16556291390728478% 99.50738916256158%;  }
    66.66666666666666% { background-position: 50% 0.49261083743842365%;  }
}

.jamb_mathematics_2010_paper_q-animation {
    max-width: 300px;
    max-height: 200px;
}
.jamb_mathematics_2010_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 0;
    background-image: url(jambmath2010_0.png);
    background-size: 301.3333333333333% 201.5%; 
    animation-name: jamb_mathematics_2010_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2010_paper_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 66.66666666666667% 0;
}

@keyframes jamb_mathematics_2010_paper_sol-frames {
    0% { background-position: 50% 99.50738916256158%;  }
    33.33333333333333% { background-position: 99.83443708609272% 0.49261083743842365%;  }
    66.66666666666666% { background-position: 99.83443708609272% 99.50738916256158%;  }
}

.jamb_mathematics_2010_paper_sol-animation {
    max-width: 300px;
    max-height: 200px;
}
.jamb_mathematics_2010_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 200px;
    padding: 0;
    background-image: url(jambmath2010_0.png);
    background-size: 301.3333333333333% 201.5%; 
    animation-name: jamb_mathematics_2010_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_mathematics_2010_paper_sol-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 66.66666666666667% 0;
}

/* $TexturePacker:SmartUpdate:ea2afa9d9029887d75f019db09eaa90c:79976ba728c025dfb98a28dfaa08fe6b:8dadbddbfb9ac8ffcaefa13eb42ec47f$ */
