/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_chemistry_2014_paper_q_43 {max-width:300px; max-height:159px; }
.jamb_chemistry_2014_paper_q_43::after {content: '\00a0';display: inline-block; width:300px; height:159px; background-position: 99.83443708609272% 2.7027027027027026%; background-size: 301.3333333333333% 123.27044025157232%; background-image: url(jambchemistry2014_0.png);padding: 0; }
div.jamb_chemistry_2014_paper_q_43::after {max-width:300px; width:100%;height:0;padding: 0 0 53% 0;}
.jamb_chemistry_2014_paper_q_44 {max-width:300px; max-height:163px; }
.jamb_chemistry_2014_paper_q_44::after {content: '\00a0';display: inline-block; width:300px; height:163px; background-position: 50% 3.0303030303030303%; background-size: 301.3333333333333% 120.24539877300613%; background-image: url(jambchemistry2014_0.png);padding: 0; }
div.jamb_chemistry_2014_paper_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 54.333333333333336% 0;}
.jamb_chemistry_2014_paper_q_45 {max-width:300px; max-height:194px; }
.jamb_chemistry_2014_paper_q_45::after {content: '\00a0';display: inline-block; width:300px; height:194px; background-position: 0.16556291390728478% 50%; background-size: 301.3333333333333% 101.03092783505154%; background-image: url(jambchemistry2014_0.png);padding: 0; }
div.jamb_chemistry_2014_paper_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 64.66666666666667% 0;}

@keyframes jamb_chemistry_2014_paper_q-frames {
    0% { background-position: 99.83443708609272% 2.7027027027027026%;  }
    33.33333333333333% { background-position: 50% 3.0303030303030303%;  }
    66.66666666666666% { background-position: 0.16556291390728478% 50%;  }
}

.jamb_chemistry_2014_paper_q-animation {
    max-width: 300px;
    max-height: 159px;
}
.jamb_chemistry_2014_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 300px;
    height: 159px;
    padding: 0;
    background-image: url(jambchemistry2014_0.png);
    background-size: 301.3333333333333% 123.27044025157232%; 
    animation-name: jamb_chemistry_2014_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_chemistry_2014_paper_q-animation::after {
    max-width: 300px;
    width: 100%;
    height: 0;
    padding: 0 0 53% 0;
}

/* $TexturePacker:SmartUpdate:ab03dd435fd99891f4f87a3a33861b52:7cf568e7c9911436e5ed5dc64de97be9:50651318ed8bcd2b8af99f654f6d2de4$ */
