/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.BECE_Mat_2010_11_Sol {max-width:239px; max-height:212px; }
.BECE_Mat_2010_11_Sol::after {content: '\00a0';display: inline-block; width:239px; height:212px; background-position: 90.85545722713864% 89.63210702341136%; background-size: 525.5230125523012% 241.03773584905662%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_11_Sol::after {max-width:239px; width:100%;height:0;padding: 0 0 88.7029288702929% 0;}
.BECE_Mat_2010_30 {max-width:210px; max-height:160px; }
.BECE_Mat_2010_30::after {content: '\00a0';display: inline-block; width:210px; height:160px; background-position: 51.1472275334608% 98.2905982905983%; background-size: 598.0952380952381% 319.375%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_30::after {max-width:210px; width:100%;height:0;padding: 0 0 76.19047619047619% 0;}
.BECE_Mat_2010_31 {max-width:177px; max-height:155px; }
.BECE_Mat_2010_31::after {content: '\00a0';display: inline-block; width:177px; height:155px; background-position: 69.13809082483782% 96.91011235955057%; background-size: 709.6045197740114% 329.6774193548387%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_31::after {max-width:177px; width:100%;height:0;padding: 0 0 87.57062146892656% 0;}
.BECE_Mat_2010_34 {max-width:194px; max-height:121px; }
.BECE_Mat_2010_34::after {content: '\00a0';display: inline-block; width:194px; height:121px; background-position: 8.474576271186441% 98.97435897435898%; background-size: 647.4226804123712% 422.31404958677683%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_34::after {max-width:194px; width:100%;height:0;padding: 0 0 62.371134020618555% 0;}
.BECE_Mat_2010_35 {max-width:457px; max-height:384px; }
.BECE_Mat_2010_35::after {content: '\00a0';display: inline-block; width:457px; height:384px; background-position: 0.1251564455569462% 0.7874015748031497%; background-size: 274.83588621444204% 133.07291666666666%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_35::after {max-width:457px; width:100%;height:0;padding: 0 0 84.02625820568927% 0;}
.BECE_Mat_2010_37 {max-width:368px; max-height:343px; }
.BECE_Mat_2010_37::after {content: '\00a0';display: inline-block; width:368px; height:343px; background-position: 51.689189189189186% 0.5952380952380952%; background-size: 341.30434782608694% 148.9795918367347%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_37::after {max-width:368px; width:100%;height:0;padding: 0 0 93.20652173913044% 0;}
.BECE_Mat_2010_39 {max-width:398px; max-height:266px; }
.BECE_Mat_2010_39::after {content: '\00a0';display: inline-block; width:398px; height:266px; background-position: 96.5034965034965% 0.40816326530612246%; background-size: 315.5778894472362% 192.10526315789474%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_39::after {max-width:398px; width:100%;height:0;padding: 0 0 66.83417085427136% 0;}
.BECE_Mat_2010_3_Sol {max-width:88px; max-height:124px; }
.BECE_Mat_2010_3_Sol::after {content: '\00a0';display: inline-block; width:88px; height:124px; background-position: 0.08561643835616438% 99.74160206718346%; background-size: 1427.2727272727273% 412.0967741935484%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_3_Sol::after {max-width:88px; width:100%;height:0;padding: 0 0 140.9090909090909% 0;}
.BECE_Mat_2010_3_Sol_a {max-width:87px; max-height:100px; }
.BECE_Mat_2010_3_Sol_a::after {content: '\00a0';display: inline-block; width:87px; height:100px; background-position: 99.57228400342173% 96.10705596107056%; background-size: 1443.6781609195402% 511%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_3_Sol_a::after {max-width:87px; width:100%;height:0;padding: 0 0 114.94252873563218% 0;}
.BECE_Mat_2010_3_Sol_b {max-width:91px; max-height:126px; }
.BECE_Mat_2010_3_Sol_b::after {content: '\00a0';display: inline-block; width:91px; height:126px; background-position: 99.91416309012875% 69.6103896103896%; background-size: 1380.2197802197802% 405.55555555555554%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_3_Sol_b::after {max-width:91px; width:100%;height:0;padding: 0 0 138.46153846153845% 0;}
.BECE_Mat_2010_5_Sol {max-width:127px; max-height:107px; }
.BECE_Mat_2010_5_Sol::after {content: '\00a0';display: inline-block; width:127px; height:107px; background-position: 25.243578387953942% 95.54455445544555%; background-size: 988.9763779527559% 477.5700934579439%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_5_Sol::after {max-width:127px; width:100%;height:0;padding: 0 0 84.25196850393701% 0;}
.BECE_Mat_2010_5_Sol_a {max-width:121px; max-height:106px; }
.BECE_Mat_2010_5_Sol_a::after {content: '\00a0';display: inline-block; width:121px; height:106px; background-position: 36.38766519823788% 95.30864197530865%; background-size: 1038.01652892562% 482.07547169811323%; background-image: url(math2010_0.png);padding: 0; }
div.BECE_Mat_2010_5_Sol_a::after {max-width:121px; width:100%;height:0;padding: 0 0 87.60330578512396% 0;}

@keyframes BECE_Mat_2010-frames {
    0% { background-position: 51.1472275334608% 98.2905982905983%;  }
    16.666666666666664% { background-position: 69.13809082483782% 96.91011235955057%;  }
    33.33333333333333% { background-position: 8.474576271186441% 98.97435897435898%;  }
    50% { background-position: 0.1251564455569462% 0.7874015748031497%;  }
    66.66666666666666% { background-position: 51.689189189189186% 0.5952380952380952%;  }
    83.33333333333334% { background-position: 96.5034965034965% 0.40816326530612246%;  }
}

.BECE_Mat_2010-animation {
    max-width: 210px;
    max-height: 160px;
}
.BECE_Mat_2010-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 210px;
    height: 160px;
    padding: 0;
    background-image: url(math2010_0.png);
    background-size: 598.0952380952381% 319.375%; 
    animation-name: BECE_Mat_2010-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.BECE_Mat_2010-animation::after {
    max-width: 210px;
    width: 100%;
    height: 0;
    padding: 0 0 76.19047619047619% 0;
}

/* $TexturePacker:SmartUpdate:ead184fbfea535824fa74e6646dcfd08:66f3f5fdb772c133b93386a5bd9fc676:cb67f07aa841041f12537cd45726bdcd$ */
