/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_biology_2017_paper_q_10 {max-width:320px; max-height:251px; }
.waec_biology_2017_paper_q_10::after {content: '\00a0';display: inline-block; width:320px; height:251px; background-position: 1.2195121951219512% 61.666666666666664%; background-size: 125.625% 530.2788844621514%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_10::after {max-width:320px; width:100%;height:0;padding: 0 0 78.4375% 0;}
.waec_biology_2017_paper_q_12 {max-width:360px; max-height:151px; }
.waec_biology_2017_paper_q_12::after {content: '\00a0';display: inline-block; width:360px; height:151px; background-position: 2.380952380952381% 43.559322033898304%; background-size: 111.66666666666667% 881.4569536423841%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_12::after {max-width:360px; width:100%;height:0;padding: 0 0 41.94444444444444% 0;}
.waec_biology_2017_paper_q_13 {max-width:360px; max-height:151px; }
.waec_biology_2017_paper_q_13::after {content: '\00a0';display: inline-block; width:360px; height:151px; background-position: 2.380952380952381% 43.559322033898304%; background-size: 111.66666666666667% 881.4569536423841%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_13::after {max-width:360px; width:100%;height:0;padding: 0 0 41.94444444444444% 0;}
.waec_biology_2017_paper_q_14 {max-width:360px; max-height:151px; }
.waec_biology_2017_paper_q_14::after {content: '\00a0';display: inline-block; width:360px; height:151px; background-position: 2.380952380952381% 43.559322033898304%; background-size: 111.66666666666667% 881.4569536423841%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_14::after {max-width:360px; width:100%;height:0;padding: 0 0 41.94444444444444% 0;}
.waec_biology_2017_paper_q_19 {max-width:300px; max-height:281px; }
.waec_biology_2017_paper_q_19::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 0.9803921568627451% 99.9047619047619%; background-size: 134% 473.66548042704625%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_19::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.waec_biology_2017_paper_q_20 {max-width:300px; max-height:281px; }
.waec_biology_2017_paper_q_20::after {content: '\00a0';display: inline-block; width:300px; height:281px; background-position: 0.9803921568627451% 99.9047619047619%; background-size: 134% 473.66548042704625%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_20::after {max-width:300px; width:100%;height:0;padding: 0 0 93.66666666666667% 0;}
.waec_biology_2017_paper_q_25 {max-width:400px; max-height:228px; }
.waec_biology_2017_paper_q_25::after {content: '\00a0';display: inline-block; width:400px; height:228px; background-position: 50% 0.09066183136899365%; background-size: 100.5% 583.7719298245614%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_25::after {max-width:400px; width:100%;height:0;padding: 0 0 57% 0;}
.waec_biology_2017_paper_q_26 {max-width:400px; max-height:228px; }
.waec_biology_2017_paper_q_26::after {content: '\00a0';display: inline-block; width:400px; height:228px; background-position: 50% 0.09066183136899365%; background-size: 100.5% 583.7719298245614%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_26::after {max-width:400px; width:100%;height:0;padding: 0 0 57% 0;}
.waec_biology_2017_paper_q_27 {max-width:400px; max-height:228px; }
.waec_biology_2017_paper_q_27::after {content: '\00a0';display: inline-block; width:400px; height:228px; background-position: 50% 0.09066183136899365%; background-size: 100.5% 583.7719298245614%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_27::after {max-width:400px; width:100%;height:0;padding: 0 0 57% 0;}
.waec_biology_2017_paper_q_42 {max-width:360px; max-height:283px; }
.waec_biology_2017_paper_q_42::after {content: '\00a0';display: inline-block; width:360px; height:283px; background-position: 2.380952380952381% 21.946564885496183%; background-size: 111.66666666666667% 470.31802120141344%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_42::after {max-width:360px; width:100%;height:0;padding: 0 0 78.61111111111111% 0;}
.waec_biology_2017_paper_q_7 {max-width:320px; max-height:130px; }
.waec_biology_2017_paper_q_7::after {content: '\00a0';display: inline-block; width:320px; height:130px; background-position: 1.2195121951219512% 76.43630308076602%; background-size: 125.625% 1023.8461538461538%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_7::after {max-width:320px; width:100%;height:0;padding: 0 0 40.625% 0;}
.waec_biology_2017_paper_q_8 {max-width:320px; max-height:130px; }
.waec_biology_2017_paper_q_8::after {content: '\00a0';display: inline-block; width:320px; height:130px; background-position: 1.2195121951219512% 76.43630308076602%; background-size: 125.625% 1023.8461538461538%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_8::after {max-width:320px; width:100%;height:0;padding: 0 0 40.625% 0;}
.waec_biology_2017_paper_q_9 {max-width:320px; max-height:130px; }
.waec_biology_2017_paper_q_9::after {content: '\00a0';display: inline-block; width:320px; height:130px; background-position: 1.2195121951219512% 76.43630308076602%; background-size: 125.625% 1023.8461538461538%; background-image: url(waecbgy2017_0.png);padding: 0; }
div.waec_biology_2017_paper_q_9::after {max-width:320px; width:100%;height:0;padding: 0 0 40.625% 0;}

@keyframes waec_biology_2017_paper_q-frames {
    0% { background-position: 1.2195121951219512% 76.43630308076602%;  }
    7.6923076923076925% { background-position: 1.2195121951219512% 76.43630308076602%;  }
    15.384615384615385% { background-position: 1.2195121951219512% 76.43630308076602%;  }
    23.076923076923077% { background-position: 1.2195121951219512% 61.666666666666664%;  }
    30.76923076923077% { background-position: 2.380952380952381% 43.559322033898304%;  }
    38.46153846153847% { background-position: 2.380952380952381% 43.559322033898304%;  }
    46.15384615384615% { background-position: 2.380952380952381% 43.559322033898304%;  }
    53.84615384615385% { background-position: 0.9803921568627451% 99.9047619047619%;  }
    61.53846153846154% { background-position: 0.9803921568627451% 99.9047619047619%;  }
    69.23076923076923% { background-position: 50% 0.09066183136899365%;  }
    76.92307692307693% { background-position: 50% 0.09066183136899365%;  }
    84.61538461538461% { background-position: 50% 0.09066183136899365%;  }
    92.3076923076923% { background-position: 2.380952380952381% 21.946564885496183%;  }
}

.waec_biology_2017_paper_q-animation {
    max-width: 320px;
    max-height: 130px;
}
.waec_biology_2017_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 320px;
    height: 130px;
    padding: 0;
    background-image: url(waecbgy2017_0.png);
    background-size: 125.625% 1023.8461538461538%; 
    animation-name: waec_biology_2017_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_biology_2017_paper_q-animation::after {
    max-width: 320px;
    width: 100%;
    height: 0;
    padding: 0 0 40.625% 0;
}

/* $TexturePacker:SmartUpdate:f00fbc11d1697826cd8822089bdc2a35:4e2b3c2c1dd0db4564d448d2b7e08d5f:eb24923004347c322585402b429ce762$ */
