/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_biology_2021_paper_q_13 {max-width:240px; max-height:200px; }
.waec_biology_2021_paper_q_13::after {content: '\00a0';display: inline-block; width:240px; height:200px; background-position: 0.6172839506172839% 85.383502170767%; background-size: 167.5% 791%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_13::after {max-width:240px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.waec_biology_2021_paper_q_14 {max-width:240px; max-height:200px; }
.waec_biology_2021_paper_q_14::after {content: '\00a0';display: inline-block; width:240px; height:200px; background-position: 0.6172839506172839% 85.383502170767%; background-size: 167.5% 791%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_14::after {max-width:240px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.waec_biology_2021_paper_q_18 {max-width:400px; max-height:202px; }
.waec_biology_2021_paper_q_18::after {content: '\00a0';display: inline-block; width:400px; height:202px; background-position: 50% 19.782608695652176%; background-size: 100.5% 783.1683168316831%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_18::after {max-width:400px; width:100%;height:0;padding: 0 0 50.5% 0;}
.waec_biology_2021_paper_q_19 {max-width:400px; max-height:202px; }
.waec_biology_2021_paper_q_19::after {content: '\00a0';display: inline-block; width:400px; height:202px; background-position: 50% 19.782608695652176%; background-size: 100.5% 783.1683168316831%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_19::after {max-width:400px; width:100%;height:0;padding: 0 0 50.5% 0;}
.waec_biology_2021_paper_q_2 {max-width:400px; max-height:173px; }
.waec_biology_2021_paper_q_2::after {content: '\00a0';display: inline-block; width:400px; height:173px; background-position: 50% 46.91270404542229%; background-size: 100.5% 914.4508670520231%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_2::after {max-width:400px; width:100%;height:0;padding: 0 0 43.25% 0;}
.waec_biology_2021_paper_q_23 {max-width:240px; max-height:200px; }
.waec_biology_2021_paper_q_23::after {content: '\00a0';display: inline-block; width:240px; height:200px; background-position: 0.6172839506172839% 99.92764109985528%; background-size: 167.5% 791%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_23::after {max-width:240px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.waec_biology_2021_paper_q_24 {max-width:240px; max-height:200px; }
.waec_biology_2021_paper_q_24::after {content: '\00a0';display: inline-block; width:240px; height:200px; background-position: 0.6172839506172839% 99.92764109985528%; background-size: 167.5% 791%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_24::after {max-width:240px; width:100%;height:0;padding: 0 0 83.33333333333333% 0;}
.waec_biology_2021_paper_q_28 {max-width:258px; max-height:206px; }
.waec_biology_2021_paper_q_28::after {content: '\00a0';display: inline-block; width:258px; height:206px; background-position: 0.6944444444444444% 70.71220930232558%; background-size: 155.8139534883721% 767.9611650485436%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_28::after {max-width:258px; width:100%;height:0;padding: 0 0 79.84496124031008% 0;}
.waec_biology_2021_paper_q_3 {max-width:400px; max-height:173px; }
.waec_biology_2021_paper_q_3::after {content: '\00a0';display: inline-block; width:400px; height:173px; background-position: 50% 46.91270404542229%; background-size: 100.5% 914.4508670520231%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_3::after {max-width:400px; width:100%;height:0;padding: 0 0 43.25% 0;}
.waec_biology_2021_paper_q_4 {max-width:400px; max-height:271px; }
.waec_biology_2021_paper_q_4::after {content: '\00a0';display: inline-block; width:400px; height:271px; background-position: 50% 0.07627765064836003%; background-size: 100.5% 583.7638376383763%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_4::after {max-width:400px; width:100%;height:0;padding: 0 0 67.75% 0;}
.waec_biology_2021_paper_q_40 {max-width:400px; max-height:184px; }
.waec_biology_2021_paper_q_40::after {content: '\00a0';display: inline-block; width:400px; height:184px; background-position: 50% 34.04864091559371%; background-size: 100.5% 859.7826086956521%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_40::after {max-width:400px; width:100%;height:0;padding: 0 0 46% 0;}
.waec_biology_2021_paper_q_41 {max-width:400px; max-height:184px; }
.waec_biology_2021_paper_q_41::after {content: '\00a0';display: inline-block; width:400px; height:184px; background-position: 50% 34.04864091559371%; background-size: 100.5% 859.7826086956521%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_41::after {max-width:400px; width:100%;height:0;padding: 0 0 46% 0;}
.waec_biology_2021_paper_q_5 {max-width:400px; max-height:271px; }
.waec_biology_2021_paper_q_5::after {content: '\00a0';display: inline-block; width:400px; height:271px; background-position: 50% 0.07627765064836003%; background-size: 100.5% 583.7638376383763%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_5::after {max-width:400px; width:100%;height:0;padding: 0 0 67.75% 0;}
.waec_biology_2021_paper_q_6 {max-width:400px; max-height:271px; }
.waec_biology_2021_paper_q_6::after {content: '\00a0';display: inline-block; width:400px; height:271px; background-position: 50% 0.07627765064836003%; background-size: 100.5% 583.7638376383763%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_6::after {max-width:400px; width:100%;height:0;padding: 0 0 67.75% 0;}
.waec_biology_2021_paper_q_7 {max-width:400px; max-height:137px; }
.waec_biology_2021_paper_q_7::after {content: '\00a0';display: inline-block; width:400px; height:137px; background-position: 50% 57.78546712802768%; background-size: 100.5% 1154.7445255474452%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_7::after {max-width:400px; width:100%;height:0;padding: 0 0 34.25% 0;}
.waec_biology_2021_paper_q_8 {max-width:400px; max-height:137px; }
.waec_biology_2021_paper_q_8::after {content: '\00a0';display: inline-block; width:400px; height:137px; background-position: 50% 57.78546712802768%; background-size: 100.5% 1154.7445255474452%; background-image: url(waecbgy2021_0.png);padding: 0; }
div.waec_biology_2021_paper_q_8::after {max-width:400px; width:100%;height:0;padding: 0 0 34.25% 0;}

@keyframes waec_biology_2021_paper_q-frames {
    0% { background-position: 50% 46.91270404542229%;  }
    6.25% { background-position: 50% 46.91270404542229%;  }
    12.5% { background-position: 50% 0.07627765064836003%;  }
    18.75% { background-position: 50% 0.07627765064836003%;  }
    25% { background-position: 50% 0.07627765064836003%;  }
    31.25% { background-position: 50% 57.78546712802768%;  }
    37.5% { background-position: 50% 57.78546712802768%;  }
    43.75% { background-position: 0.6172839506172839% 85.383502170767%;  }
    50% { background-position: 0.6172839506172839% 85.383502170767%;  }
    56.25% { background-position: 50% 19.782608695652176%;  }
    62.5% { background-position: 50% 19.782608695652176%;  }
    68.75% { background-position: 0.6172839506172839% 99.92764109985528%;  }
    75% { background-position: 0.6172839506172839% 99.92764109985528%;  }
    81.25% { background-position: 0.6944444444444444% 70.71220930232558%;  }
    87.5% { background-position: 50% 34.04864091559371%;  }
    93.75% { background-position: 50% 34.04864091559371%;  }
}

.waec_biology_2021_paper_q-animation {
    max-width: 400px;
    max-height: 173px;
}
.waec_biology_2021_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 173px;
    padding: 0;
    background-image: url(waecbgy2021_0.png);
    background-size: 100.5% 914.4508670520231%; 
    animation-name: waec_biology_2021_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_biology_2021_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 43.25% 0;
}

/* $TexturePacker:SmartUpdate:1e2e0a35f57a4eddd35e0235a69b89f0:ce1593c977f4128a03ef9c4476773943:458863d303929898729c9cdc782a1b7f$ */
