/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_biology_2015_paper_q_22 {max-width:400px; max-height:479px; }
.waec_biology_2015_paper_q_22::after {content: '\00a0';display: inline-block; width:400px; height:479px; background-position: 0.16556291390728478% 50%; background-size: 251% 100.41753653444677%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_22::after {max-width:400px; width:100%;height:0;padding: 0 0 119.75% 0;}
.waec_biology_2015_paper_q_33 {max-width:300px; max-height:286px; }
.waec_biology_2015_paper_q_33::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 57.10227272727273% 0.5128205128205128%; background-size: 334.6666666666667% 168.1818181818182%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_33::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.waec_biology_2015_paper_q_34 {max-width:300px; max-height:286px; }
.waec_biology_2015_paper_q_34::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 57.10227272727273% 0.5128205128205128%; background-size: 334.6666666666667% 168.1818181818182%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_34::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.waec_biology_2015_paper_q_35 {max-width:300px; max-height:286px; }
.waec_biology_2015_paper_q_35::after {content: '\00a0';display: inline-block; width:300px; height:286px; background-position: 57.10227272727273% 0.5128205128205128%; background-size: 334.6666666666667% 168.1818181818182%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_35::after {max-width:300px; width:100%;height:0;padding: 0 0 95.33333333333333% 0;}
.waec_biology_2015_paper_q_38 {max-width:300px; max-height:116px; }
.waec_biology_2015_paper_q_38::after {content: '\00a0';display: inline-block; width:300px; height:116px; background-position: 99.85795454545455% 37.534246575342465%; background-size: 334.6666666666667% 414.6551724137931%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_38::after {max-width:300px; width:100%;height:0;padding: 0 0 38.666666666666664% 0;}
.waec_biology_2015_paper_q_39 {max-width:300px; max-height:116px; }
.waec_biology_2015_paper_q_39::after {content: '\00a0';display: inline-block; width:300px; height:116px; background-position: 99.85795454545455% 37.534246575342465%; background-size: 334.6666666666667% 414.6551724137931%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_39::after {max-width:300px; width:100%;height:0;padding: 0 0 38.666666666666664% 0;}
.waec_biology_2015_paper_q_40 {max-width:300px; max-height:116px; }
.waec_biology_2015_paper_q_40::after {content: '\00a0';display: inline-block; width:300px; height:116px; background-position: 99.85795454545455% 37.534246575342465%; background-size: 334.6666666666667% 414.6551724137931%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_40::after {max-width:300px; width:100%;height:0;padding: 0 0 38.666666666666664% 0;}
.waec_biology_2015_paper_q_41 {max-width:135px; max-height:83px; }
.waec_biology_2015_paper_q_41::after {content: '\00a0';display: inline-block; width:135px; height:83px; background-position: 46.260069044879174% 81.90954773869346%; background-size: 743.7037037037037% 579.5180722891566%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_41::after {max-width:135px; width:100%;height:0;padding: 0 0 61.48148148148148% 0;}
.waec_biology_2015_paper_q_42 {max-width:135px; max-height:83px; }
.waec_biology_2015_paper_q_42::after {content: '\00a0';display: inline-block; width:135px; height:83px; background-position: 46.260069044879174% 81.90954773869346%; background-size: 743.7037037037037% 579.5180722891566%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_42::after {max-width:135px; width:100%;height:0;padding: 0 0 61.48148148148148% 0;}
.waec_biology_2015_paper_q_43 {max-width:300px; max-height:71px; }
.waec_biology_2015_paper_q_43::after {content: '\00a0';display: inline-block; width:300px; height:71px; background-position: 99.85795454545455% 61.951219512195124%; background-size: 334.6666666666667% 677.4647887323944%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_43::after {max-width:300px; width:100%;height:0;padding: 0 0 23.666666666666668% 0;}
.waec_biology_2015_paper_q_44 {max-width:300px; max-height:135px; }
.waec_biology_2015_paper_q_44::after {content: '\00a0';display: inline-block; width:300px; height:135px; background-position: 99.85795454545455% 0.28901734104046245%; background-size: 334.6666666666667% 356.2962962962963%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_44::after {max-width:300px; width:100%;height:0;padding: 0 0 45% 0;}
.waec_biology_2015_paper_q_45 {max-width:300px; max-height:135px; }
.waec_biology_2015_paper_q_45::after {content: '\00a0';display: inline-block; width:300px; height:135px; background-position: 99.85795454545455% 0.28901734104046245%; background-size: 334.6666666666667% 356.2962962962963%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_45::after {max-width:300px; width:100%;height:0;padding: 0 0 45% 0;}
.waec_biology_2015_paper_q_46 {max-width:300px; max-height:135px; }
.waec_biology_2015_paper_q_46::after {content: '\00a0';display: inline-block; width:300px; height:135px; background-position: 99.85795454545455% 0.28901734104046245%; background-size: 334.6666666666667% 356.2962962962963%; background-image: url(waecbgy2015_0.png);padding: 0; }
div.waec_biology_2015_paper_q_46::after {max-width:300px; width:100%;height:0;padding: 0 0 45% 0;}

@keyframes waec_biology_2015_paper_q-frames {
    0% { background-position: 0.16556291390728478% 50%;  }
    7.6923076923076925% { background-position: 57.10227272727273% 0.5128205128205128%;  }
    15.384615384615385% { background-position: 57.10227272727273% 0.5128205128205128%;  }
    23.076923076923077% { background-position: 57.10227272727273% 0.5128205128205128%;  }
    30.76923076923077% { background-position: 99.85795454545455% 37.534246575342465%;  }
    38.46153846153847% { background-position: 99.85795454545455% 37.534246575342465%;  }
    46.15384615384615% { background-position: 99.85795454545455% 37.534246575342465%;  }
    53.84615384615385% { background-position: 46.260069044879174% 81.90954773869346%;  }
    61.53846153846154% { background-position: 46.260069044879174% 81.90954773869346%;  }
    69.23076923076923% { background-position: 99.85795454545455% 61.951219512195124%;  }
    76.92307692307693% { background-position: 99.85795454545455% 0.28901734104046245%;  }
    84.61538461538461% { background-position: 99.85795454545455% 0.28901734104046245%;  }
    92.3076923076923% { background-position: 99.85795454545455% 0.28901734104046245%;  }
}

.waec_biology_2015_paper_q-animation {
    max-width: 400px;
    max-height: 479px;
}
.waec_biology_2015_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 479px;
    padding: 0;
    background-image: url(waecbgy2015_0.png);
    background-size: 251% 100.41753653444677%; 
    animation-name: waec_biology_2015_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_biology_2015_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 119.75% 0;
}

/* $TexturePacker:SmartUpdate:a0aca64e3ed6f62b42fa3c4115dd3983:25c5a3a0d48604097a90e71a477e9cc8:43c39fdb5613c62ad3dafa17b2241e0a$ */
