/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.waec_biology_2024_paper_q_15 {max-width:400px; max-height:194px; }
.waec_biology_2024_paper_q_15::after {content: '\00a0';display: inline-block; width:400px; height:194px; background-position: 0.24813895781637718% 99.93006993006993%; background-size: 200.75% 837.1134020618557%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_15::after {max-width:400px; width:100%;height:0;padding: 0 0 48.5% 0;}
.waec_biology_2024_paper_q_16 {max-width:400px; max-height:190px; }
.waec_biology_2024_paper_q_16::after {content: '\00a0';display: inline-block; width:400px; height:190px; background-position: 99.75186104218362% 56.13668061366806%; background-size: 200.75% 854.7368421052631%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_16::after {max-width:400px; width:100%;height:0;padding: 0 0 47.5% 0;}
.waec_biology_2024_paper_q_17 {max-width:400px; max-height:268px; }
.waec_biology_2024_paper_q_17::after {content: '\00a0';display: inline-block; width:400px; height:268px; background-position: 99.75186104218362% 20.353982300884955%; background-size: 200.75% 605.9701492537314%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_17::after {max-width:400px; width:100%;height:0;padding: 0 0 67% 0;}
.waec_biology_2024_paper_q_19 {max-width:400px; max-height:308px; }
.waec_biology_2024_paper_q_19::after {content: '\00a0';display: inline-block; width:400px; height:308px; background-position: 0.24813895781637718% 0.07598784194528875%; background-size: 200.75% 527.2727272727273%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_19::after {max-width:400px; width:100%;height:0;padding: 0 0 77% 0;}
.waec_biology_2024_paper_q_32 {max-width:400px; max-height:274px; }
.waec_biology_2024_paper_q_32::after {content: '\00a0';display: inline-block; width:400px; height:274px; background-position: 99.75186104218362% 0.07407407407407407%; background-size: 200.75% 592.7007299270073%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_32::after {max-width:400px; width:100%;height:0;padding: 0 0 68.5% 0;}
.waec_biology_2024_paper_q_33 {max-width:400px; max-height:274px; }
.waec_biology_2024_paper_q_33::after {content: '\00a0';display: inline-block; width:400px; height:274px; background-position: 99.75186104218362% 0.07407407407407407%; background-size: 200.75% 592.7007299270073%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_33::after {max-width:400px; width:100%;height:0;padding: 0 0 68.5% 0;}
.waec_biology_2024_paper_q_36 {max-width:324px; max-height:252px; }
.waec_biology_2024_paper_q_36::after {content: '\00a0';display: inline-block; width:324px; height:252px; background-position: 0.20876826722338204% 85.71428571428571%; background-size: 247.8395061728395% 644.4444444444445%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_36::after {max-width:324px; width:100%;height:0;padding: 0 0 77.77777777777777% 0;}
.waec_biology_2024_paper_q_37 {max-width:400px; max-height:198px; }
.waec_biology_2024_paper_q_37::after {content: '\00a0';display: inline-block; width:400px; height:198px; background-position: 0.24813895781637718% 40.39270687237027%; background-size: 200.75% 820.2020202020202%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_37::after {max-width:400px; width:100%;height:0;padding: 0 0 49.5% 0;}
.waec_biology_2024_paper_q_38 {max-width:400px; max-height:198px; }
.waec_biology_2024_paper_q_38::after {content: '\00a0';display: inline-block; width:400px; height:198px; background-position: 0.24813895781637718% 40.39270687237027%; background-size: 200.75% 820.2020202020202%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_38::after {max-width:400px; width:100%;height:0;padding: 0 0 49.5% 0;}
.waec_biology_2024_paper_q_4 {max-width:400px; max-height:172px; }
.waec_biology_2024_paper_q_4::after {content: '\00a0';display: inline-block; width:400px; height:172px; background-position: 99.75186104218362% 68.59504132231405%; background-size: 200.75% 944.1860465116279%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_4::after {max-width:400px; width:100%;height:0;padding: 0 0 43% 0;}
.waec_biology_2024_paper_q_43 {max-width:400px; max-height:259px; }
.waec_biology_2024_paper_q_43::after {content: '\00a0';display: inline-block; width:400px; height:259px; background-position: 99.75186104218362% 39.92673992673993%; background-size: 200.75% 627.027027027027%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_43::after {max-width:400px; width:100%;height:0;padding: 0 0 64.75% 0;}
.waec_biology_2024_paper_q_44 {max-width:400px; max-height:259px; }
.waec_biology_2024_paper_q_44::after {content: '\00a0';display: inline-block; width:400px; height:259px; background-position: 99.75186104218362% 39.92673992673993%; background-size: 200.75% 627.027027027027%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_44::after {max-width:400px; width:100%;height:0;padding: 0 0 64.75% 0;}
.waec_biology_2024_paper_q_5 {max-width:400px; max-height:172px; }
.waec_biology_2024_paper_q_5::after {content: '\00a0';display: inline-block; width:400px; height:172px; background-position: 99.75186104218362% 68.59504132231405%; background-size: 200.75% 944.1860465116279%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_q_5::after {max-width:400px; width:100%;height:0;padding: 0 0 43% 0;}
.waec_biology_2024_paper_sol_3 {max-width:395px; max-height:223px; }
.waec_biology_2024_paper_sol_3::after {content: '\00a0';display: inline-block; width:395px; height:223px; background-position: 79.90196078431373% 83.44039971448964%; background-size: 203.29113924050634% 728.2511210762332%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_sol_3::after {max-width:395px; width:100%;height:0;padding: 0 0 56.45569620253165% 0;}
.waec_biology_2024_paper_sol_42 {max-width:286px; max-height:400px; }
.waec_biology_2024_paper_sol_42::after {content: '\00a0';display: inline-block; width:286px; height:400px; background-position: 0.19342359767891681% 63.31699346405229%; background-size: 280.7692307692308% 406%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_sol_42::after {max-width:286px; width:100%;height:0;padding: 0 0 139.86013986013987% 0;}
.waec_biology_2024_paper_sol_43 {max-width:400px; max-height:265px; }
.waec_biology_2024_paper_sol_43::after {content: '\00a0';display: inline-block; width:400px; height:265px; background-position: 0.24813895781637718% 22.810890360559235%; background-size: 200.75% 612.8301886792453%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_sol_43::after {max-width:400px; width:100%;height:0;padding: 0 0 66.25% 0;}
.waec_biology_2024_paper_sol_6 {max-width:388px; max-height:228px; }
.waec_biology_2024_paper_sol_6::after {content: '\00a0';display: inline-block; width:388px; height:228px; background-position: 96.86746987951807% 99.78510028653295%; background-size: 206.95876288659792% 712.280701754386%; background-image: url(waecbgy2024_0.png);padding: 0; }
div.waec_biology_2024_paper_sol_6::after {max-width:388px; width:100%;height:0;padding: 0 0 58.76288659793814% 0;}

@keyframes waec_biology_2024_paper_q-frames {
    0% { background-position: 99.75186104218362% 68.59504132231405%;  }
    7.6923076923076925% { background-position: 99.75186104218362% 68.59504132231405%;  }
    15.384615384615385% { background-position: 0.24813895781637718% 99.93006993006993%;  }
    23.076923076923077% { background-position: 99.75186104218362% 56.13668061366806%;  }
    30.76923076923077% { background-position: 99.75186104218362% 20.353982300884955%;  }
    38.46153846153847% { background-position: 0.24813895781637718% 0.07598784194528875%;  }
    46.15384615384615% { background-position: 99.75186104218362% 0.07407407407407407%;  }
    53.84615384615385% { background-position: 99.75186104218362% 0.07407407407407407%;  }
    61.53846153846154% { background-position: 0.20876826722338204% 85.71428571428571%;  }
    69.23076923076923% { background-position: 0.24813895781637718% 40.39270687237027%;  }
    76.92307692307693% { background-position: 0.24813895781637718% 40.39270687237027%;  }
    84.61538461538461% { background-position: 99.75186104218362% 39.92673992673993%;  }
    92.3076923076923% { background-position: 99.75186104218362% 39.92673992673993%;  }
}

.waec_biology_2024_paper_q-animation {
    max-width: 400px;
    max-height: 172px;
}
.waec_biology_2024_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 172px;
    padding: 0;
    background-image: url(waecbgy2024_0.png);
    background-size: 200.75% 944.1860465116279%; 
    animation-name: waec_biology_2024_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_biology_2024_paper_q-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 43% 0;
}

@keyframes waec_biology_2024_paper_sol-frames {
    0% { background-position: 79.90196078431373% 83.44039971448964%;  }
    25% { background-position: 96.86746987951807% 99.78510028653295%;  }
    50% { background-position: 0.19342359767891681% 63.31699346405229%;  }
    75% { background-position: 0.24813895781637718% 22.810890360559235%;  }
}

.waec_biology_2024_paper_sol-animation {
    max-width: 395px;
    max-height: 223px;
}
.waec_biology_2024_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 395px;
    height: 223px;
    padding: 0;
    background-image: url(waecbgy2024_0.png);
    background-size: 203.29113924050634% 728.2511210762332%; 
    animation-name: waec_biology_2024_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.waec_biology_2024_paper_sol-animation::after {
    max-width: 395px;
    width: 100%;
    height: 0;
    padding: 0 0 56.45569620253165% 0;
}

/* $TexturePacker:SmartUpdate:67f1cf12fadb4856a7d9540ad63cd57e:843321ca7ed5305b87b285c886ae06b4:b47160daa5e71a483264c049f283617d$ */
