/*
-------------------------------------------------------------------
Created with TexturePacker https://www.codeandweb.com/texturepacker
-------------------------------------------------------------------
Inline:     <i class="yourspritesname"></i>
Responsive: <div class="yourspritesname"></div>
*/

.jamb_physics_2023_paper_q_1 {max-width:285px; max-height:195px; }
.jamb_physics_2023_paper_q_1::after {content: '\00a0';display: inline-block; width:285px; height:195px; background-position: 49.25373134328358% 65.68201563857515%; background-size: 358.5964912280702% 690.2564102564103%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_1::after {max-width:285px; width:100%;height:0;padding: 0 0 68.42105263157895% 0;}
.jamb_physics_2023_paper_q_11 {max-width:400px; max-height:160px; }
.jamb_physics_2023_paper_q_11::after {content: '\00a0';display: inline-block; width:400px; height:160px; background-position: 64.63022508038586% 15.598650927487352%; background-size: 255.5% 841.25%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_11::after {max-width:400px; width:100%;height:0;padding: 0 0 40% 0;}
.jamb_physics_2023_paper_q_18 {max-width:400px; max-height:183px; }
.jamb_physics_2023_paper_q_18::after {content: '\00a0';display: inline-block; width:400px; height:183px; background-position: 0.1607717041800643% 0.08598452278589853%; background-size: 255.5% 735.5191256830601%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_18::after {max-width:400px; width:100%;height:0;padding: 0 0 45.75% 0;}
.jamb_physics_2023_paper_q_23 {max-width:386px; max-height:243px; }
.jamb_physics_2023_paper_q_23::after {content: '\00a0';display: inline-block; width:386px; height:243px; background-position: 0.15723270440251572% 41.069809610154124%; background-size: 264.76683937823833% 553.9094650205761%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_23::after {max-width:386px; width:100%;height:0;padding: 0 0 62.95336787564767% 0;}
.jamb_physics_2023_paper_q_26 {max-width:333px; max-height:296px; }
.jamb_physics_2023_paper_q_26::after {content: '\00a0';display: inline-block; width:333px; height:296px; background-position: 0.14513788098693758% 94%; background-size: 306.9069069069069% 454.72972972972974%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_26::after {max-width:333px; width:100%;height:0;padding: 0 0 88.88888888888889% 0;}
.jamb_physics_2023_paper_q_3 {max-width:318px; max-height:221px; }
.jamb_physics_2023_paper_q_3::after {content: '\00a0';display: inline-block; width:318px; height:221px; background-position: 47.58522727272727% 87.73333333333333%; background-size: 321.3836477987421% 609.0497737556561%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_3::after {max-width:318px; width:100%;height:0;padding: 0 0 69.49685534591195% 0;}
.jamb_physics_2023_paper_q_32 {max-width:361px; max-height:145px; }
.jamb_physics_2023_paper_q_32::after {content: '\00a0';display: inline-block; width:361px; height:145px; background-position: 98.94099848714069% 62.947543713572024%; background-size: 283.1024930747922% 928.2758620689655%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_32::after {max-width:361px; width:100%;height:0;padding: 0 0 40.16620498614959% 0;}
.jamb_physics_2023_paper_q_41 {max-width:316px; max-height:136px; }
.jamb_physics_2023_paper_q_41::after {content: '\00a0';display: inline-block; width:316px; height:136px; background-position: 47.45042492917847% 99.91735537190083%; background-size: 323.4177215189873% 989.7058823529412%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_41::after {max-width:316px; width:100%;height:0;padding: 0 0 43.037974683544306% 0;}
.jamb_physics_2023_paper_q_47 {max-width:336px; max-height:180px; }
.jamb_physics_2023_paper_q_47::after {content: '\00a0';display: inline-block; width:336px; height:180px; background-position: 95.33527696793003% 77.35849056603773%; background-size: 304.1666666666667% 747.7777777777778%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_47::after {max-width:336px; width:100%;height:0;padding: 0 0 53.57142857142857% 0;}
.jamb_physics_2023_paper_q_5 {max-width:400px; max-height:87px; }
.jamb_physics_2023_paper_q_5::after {content: '\00a0';display: inline-block; width:400px; height:87px; background-position: 0.1607717041800643% 28.991262907069103%; background-size: 255.5% 1547.1264367816093%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_5::after {max-width:400px; width:100%;height:0;padding: 0 0 21.75% 0;}
.jamb_physics_2023_paper_q_60 {max-width:400px; max-height:179px; }
.jamb_physics_2023_paper_q_60::after {content: '\00a0';display: inline-block; width:400px; height:179px; background-position: 0.1607717041800643% 15.85261353898886%; background-size: 255.5% 751.9553072625698%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_q_60::after {max-width:400px; width:100%;height:0;padding: 0 0 44.75% 0;}
.jamb_physics_2023_paper_sol_18 {max-width:400px; max-height:139px; }
.jamb_physics_2023_paper_sol_18::after {content: '\00a0';display: inline-block; width:400px; height:139px; background-position: 64.63022508038586% 28.666114333057166%; background-size: 255.5% 968.3453237410072%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_18::after {max-width:400px; width:100%;height:0;padding: 0 0 34.75% 0;}
.jamb_physics_2023_paper_sol_23 {max-width:371px; max-height:269px; }
.jamb_physics_2023_paper_sol_23::after {content: '\00a0';display: inline-block; width:371px; height:269px; background-position: 59.60061443932412% 45.12534818941504%; background-size: 275.47169811320754% 500.3717472118959%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_23::after {max-width:371px; width:100%;height:0;padding: 0 0 72.50673854447439% 0;}
.jamb_physics_2023_paper_sol_26 {max-width:361px; max-height:289px; }
.jamb_physics_2023_paper_sol_26::after {content: '\00a0';display: inline-block; width:361px; height:289px; background-position: 0.15128593040847202% 65.94134342478714%; background-size: 283.1024930747922% 465.7439446366782%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_26::after {max-width:361px; width:100%;height:0;padding: 0 0 80.05540166204986% 0;}
.jamb_physics_2023_paper_sol_3 {max-width:400px; max-height:183px; }
.jamb_physics_2023_paper_sol_3::after {content: '\00a0';display: inline-block; width:400px; height:183px; background-position: 64.63022508038586% 0.08598452278589853%; background-size: 255.5% 735.5191256830601%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_3::after {max-width:400px; width:100%;height:0;padding: 0 0 45.75% 0;}
.jamb_physics_2023_paper_sol_32 {max-width:356px; max-height:133px; }
.jamb_physics_2023_paper_sol_32::after {content: '\00a0';display: inline-block; width:356px; height:133px; background-position: 97.89789789789789% 99.67023907666942%; background-size: 287.07865168539325% 1012.0300751879699%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_32::after {max-width:356px; width:100%;height:0;padding: 0 0 37.359550561797754% 0;}
.jamb_physics_2023_paper_sol_39 {max-width:261px; max-height:198px; }
.jamb_physics_2023_paper_sol_39::after {content: '\00a0';display: inline-block; width:261px; height:198px; background-position: 99.86859395532194% 42.33449477351916%; background-size: 391.57088122605364% 679.7979797979798%; background-image: url(jambphysics2023_0.png);padding: 0; }
div.jamb_physics_2023_paper_sol_39::after {max-width:261px; width:100%;height:0;padding: 0 0 75.86206896551724% 0;}

@keyframes jamb_physics_2023_paper_q-frames {
    0% { background-position: 49.25373134328358% 65.68201563857515%;  }
    9.090909090909092% { background-position: 47.58522727272727% 87.73333333333333%;  }
    18.181818181818183% { background-position: 0.1607717041800643% 28.991262907069103%;  }
    27.27272727272727% { background-position: 64.63022508038586% 15.598650927487352%;  }
    36.36363636363637% { background-position: 0.1607717041800643% 0.08598452278589853%;  }
    45.45454545454545% { background-position: 0.15723270440251572% 41.069809610154124%;  }
    54.54545454545454% { background-position: 0.14513788098693758% 94%;  }
    63.63636363636363% { background-position: 98.94099848714069% 62.947543713572024%;  }
    72.72727272727273% { background-position: 47.45042492917847% 99.91735537190083%;  }
    81.81818181818183% { background-position: 95.33527696793003% 77.35849056603773%;  }
    90.9090909090909% { background-position: 0.1607717041800643% 15.85261353898886%;  }
}

.jamb_physics_2023_paper_q-animation {
    max-width: 285px;
    max-height: 195px;
}
.jamb_physics_2023_paper_q-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 285px;
    height: 195px;
    padding: 0;
    background-image: url(jambphysics2023_0.png);
    background-size: 358.5964912280702% 690.2564102564103%; 
    animation-name: jamb_physics_2023_paper_q-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_physics_2023_paper_q-animation::after {
    max-width: 285px;
    width: 100%;
    height: 0;
    padding: 0 0 68.42105263157895% 0;
}

@keyframes jamb_physics_2023_paper_sol-frames {
    0% { background-position: 64.63022508038586% 0.08598452278589853%;  }
    16.666666666666664% { background-position: 64.63022508038586% 28.666114333057166%;  }
    33.33333333333333% { background-position: 59.60061443932412% 45.12534818941504%;  }
    50% { background-position: 0.15128593040847202% 65.94134342478714%;  }
    66.66666666666666% { background-position: 97.89789789789789% 99.67023907666942%;  }
    83.33333333333334% { background-position: 99.86859395532194% 42.33449477351916%;  }
}

.jamb_physics_2023_paper_sol-animation {
    max-width: 400px;
    max-height: 183px;
}
.jamb_physics_2023_paper_sol-animation::after {
    content: '\00a0';
    display: inline-block;
    width: 400px;
    height: 183px;
    padding: 0;
    background-image: url(jambphysics2023_0.png);
    background-size: 255.5% 735.5191256830601%; 
    animation-name: jamb_physics_2023_paper_sol-frames;
    animation-timing-function: steps(1);
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
div.jamb_physics_2023_paper_sol-animation::after {
    max-width: 400px;
    width: 100%;
    height: 0;
    padding: 0 0 45.75% 0;
}

/* $TexturePacker:SmartUpdate:b6559dfe02187363d4a0404e8db3ee04:9376e215acfe892950a3ce616abbe26b:724dc37e443c417886eec306608138f2$ */
